[2019-04-27 06:58] markusgft opened #2 "Current travis integration has limitations"
* currently only catkin cools (with ROS kinetic) is tested in travis
 * builds get cancelled after 50 min runtime, i.e. we cannot test both building with catkin and building with cmake due to time constraints.
 * builds get cancelled after too many printouts. It is difficult to find the right level of verbosity to prevent travis from cancelling while still getting out useful information.

[2019-04-28 13:33] markusgft opened #5 "create a cmake-only version"
###Expected benefits:
 * cross-platform applications
 * avoid overhead required catkin tools and ros installations

Goals:
 * enable pure cmake support while keeping ros-integration and allowing to build via
`catkin build <ct_package...>`

Todo notes:
 * ~~prespec-libraries in ct_core do not yet get properly linked~~
 * prespec-libraries in ct_core currently do not get installed using pure cmake

[2019-04-29 07:03] markusgft opened #7 "Uniform Noise creates warnings"
change it to something like this:
`    UniformNoise(const double mean = 0.0, const double r = 1.0) : rd_(), eng_(rd_()), distr_(mean - r, mean + r) {}
`

[2019-04-29 21:17] #7 closed

[2019-04-30 13:44] markusgft opened #9 "add findIPOPT.cmake"
in order to allow for finding IPOPT after it's been installed as a debian package.
 * users may install ipopt via `sudo apt-get install coinoir-libipopt-dev`

In order to achieve this:
 * add find-script for IPOPT

[2019-05-02 06:03] markusgft opened #10 "resolve compatibility issues with *.zip on windows by avoiding class/header names which differ only in capitalization"
For example : costfunction-impl.h vs Costfunction-impl.h
resolve by renaming.

List of potentially affected headers:
./ct_core/include/ct/core/common
./ct_core/include/ct/core/control
./ct_core/include/ct/core/geometry
./ct_core/include/ct/core/integration
./ct_core/include/ct/core/internal
./ct_core/include/ct/core/math
./ct_core/include/ct/core/simulation
./ct_core/include/ct/core/switching
./ct

[2019-05-02 17:42] markusgft commented on #10
should get resolved by pullrequest #11

[2019-05-08 18:31] markusgft commented on #9
to be resolved in #12

[2019-05-08 18:31] markusgft commented on #5
to be resolved in #12

[2019-05-12 16:02] markusgft opened #13 "Upgrade to newest version of HPIPM/Blasfeo"
* in oder to avoid the issue that ct-v2 hpipm and blasfeo versions do not provide an installation routine. Exporting dependencies is therefore not solid.

To check:
- [ ] licensing issues may occur. The current releases of hpipm and blasfeo are GPL 3.0, while our currently used version was released under L-GPL.

[2019-05-15 11:35] markusgft opened #14 "remove legacy documentation (v2.3) from bitbucket.io to avoid confusion"
remove legacy documentation (v2.3) from bitbucket.io to avoid confusion

[2019-05-15 11:37] markusgft opened #15 "add automatic docu updater to travis"

[2019-05-15 11:38] markusgft opened #16 "migrate ct_ros examples to github"
porting ct_ros to github has been started. First examples can be found [here](https://github.com/ethz-adrl/ct_ros)

Todo:

- [x] clean up docu and add instructions for minimal examples

[2019-05-15 12:14] jcarius commented on #13
@rubengrandia might be of help here

[2019-05-15 12:17] jcarius opened #17 "add DMS support for discrete systems"
code already developed but needs refactoring and cleanup

[2019-05-15 12:18] jcarius opened #18 "add MPC support for discrete systems"

[2019-05-15 12:31] markusgft opened #19 "check out gtest from remote rather than requiring local installation"
check out gtest from remote rather than requiring local installation

[2019-05-15 15:53] markusgft opened #20 "update arXiv paper with correct links"

[2019-05-15 15:54] #9 closed

[2019-05-15 15:54] #5 closed

[2019-05-15 15:55] #10 closed

[2019-05-17 10:28] markusgft commented on #18
the branch got ported from bitbucket and is now available [here](https://github.com/ethz-adrl/control-toolbox/tree/feature/discrete_mpc)

[2019-05-17 10:29] markusgft commented on #17
devel branch availble [here](https://github.com/ethz-adrl/control-toolbox/tree/feature/discrete_DMS)

[2019-05-17 10:31] markusgft commented on #13
@rubengrandia would you be interested in committing this feature? It would be highly welcomed and would be a great contribution.

[2019-05-17 12:04] markusgft commented on #14
done, relinked to github.io.

[2019-05-17 12:04] #14 closed

[2019-05-17 16:05] rubengrandia commented on #13
Updating to the lastest hpipm + blasfeo is still something I want to do and updating it in the CT would be a good first step. However, it is unclear when I will have time for this.

With licensing I am less familiar and is probably more relevant for you and Michael.

[2019-05-18 05:59] markusgft opened #23 "examine potential ct_rbd unit test freeze on Ubuntu 18.04"
Some users reported the following behavior:
 * when the ct_rbd unit tests are run with --this --no-deps on Ubuntu 18.04, the operating system freezes after a few seconds.
 *  there is likely a race-condition hidden somewhere, since it works perfectly when setting the additional flag -j1
 *  interestingly, this behaviour does not show on Ubuntu 16.04 and 14.04.

TODO:

- [ ] verify issue

[2019-05-18 06:03] markusgft opened #24 "Replace HyA-robot-arm model with a model for a more accessible commercial arm"
The example robot arm model should be replaced by something more convenient to users, i.e. UR10, Franka Panda, etc.

[2019-05-18 06:05] markusgft opened #25 "Potential thread-safety issue in Sensitivity Integrator for higher-order integration schemes"
Todo:
- [ ] in sensitivity integrator, all threads are writing on the same A,B?

[2019-05-18 06:08] markusgft opened #26 "Make Gaussian and Uniform Noise fully compatible with vectors"
@jcarius has proposed the following inspiration

[code]

[2019-05-18 06:11] markusgft opened #27 "DiscreteTrajectoryBase push_back unsafe"
@jcarius has reported the following:

The method `void push_back(const T& data, const SCALAR& time, const bool timeIsAbsolute)` is unsafe in DiscreteTrajectoryBase:

if the user specifies `timeIsAbsolute=false`, access to `time_.back()` might segfault or cause undefined behavior because time vector could still be empty.

[2019-05-18 06:13] markusgft opened #28 "Box constraints in NLOC work only if added in correct order (input before state)"
The LQOC Problen and the HPIPM Interface have settled on the convention that the box constraints are always given in the order [u, x]. Box constraints must be added according to this order. In case the order is not fulfilled, the NLOC Backend throws an exception (as of v2.3 onwards).

Todo:

- [ ] come up with clean solution

[2019-05-18 06:16] markusgft opened #29 "Explicit Template Instantiation does not compile for ADScalar or ADCGScalar"
@johuber had reported the following for v2.3

When I try to compile with either of the in the explicit_templates.cfg file, several compile errors occur.

Config:

STATE_DIM=4, CONTROL_DIM=2, POS_DIM=0, VEL_DIM=0, SCALAR=double STATE_DIM=4, CONTROL_DIM=2, POS_DIM=0, VEL_DIM=0, SCALAR=ct::core::ADScalar STATE_DIM=4, CONTROL_DIM=2, POS_DIM=0, VEL_DIM=0, SCALAR=ct::core::ADCGScalar

Errors:
[code]

[2019-05-18 06:18] markusgft opened #30 "POS_DIM, VEL_DIM templates ill-conditioned for SISO systems"
In the current version a 1-1-0-0-double system does not compile.
How to handle P_DIM and V_DIM properly internally for SISO systems?

[2019-05-18 06:20] markusgft opened #31 "NLP interface segfaults when compiled with -DCMAKE_BUILD_TYPE=Debug"
NLP interface segfaults when compiled with -DCMAKE_BUILD_TYPE=Debug. It works fine with -DCMAKE_BUILD_TYPE=Relwithdebinfo and Release.

[2019-05-18 06:22] markusgft opened #32 "Incompatible cppad cg code for clang++"
@jcarius had reported the following:

Some configurations* of Clang++ cannot compile parts of the cppad cg code:

`/home/USERNAME/catkin_ws/src/ct/ct_core/include/external/cppad/cg/patterns/iter_equation_group.hpp:253:68: error: default initialization of an object of const type 'const std::map<size_t, std::set<size_t> >' (aka 'const map<unsigned long, set<unsigned long> >') without a user-provided

[2019-05-18 06:24] markusgft opened #33 "Implement closed-form form solution for DARE"
(avoid iterative solution using the Dynamic Riccati Equation)

[2019-05-18 06:26] markusgft opened #34 "Extensive test for LineSearch in MP-mode desirable"
In a prior version, a user reported issues with NLOC-linesearch when using nThreads > 1. It seems that the behaviour was sometimes not deterministic.

- [ ] introduce test case which covers this bug

[2019-05-18 06:30] markusgft opened #35 "Unify settings interfaces"
On v2.2 @hamzamerzic had reported the following:

[2019-05-18 06:32] markusgft opened #36 "Restructure to keep the system stateless"
On v2.2 @hamzamerzic had reported the following:

[2019-05-18 06:36] markusgft opened #37 "TermQuadratic currently takes non-symmetric matrices"
the term quadratic of a cost function currently takes non-symmetric matrices. There is probably hardly any use case for this.

[2019-05-18 06:39] markusgft opened #38 "Include original code and/or timestamp in generated code"
@jcarius had reported the following:

[2019-05-18 06:41] markusgft opened #39 "Coherency with StateMatrix StateVector ControlMatrix ControlVector types"
@jcarius had reported the following

Many classes use their own typedefs such as

`typedef Eigen::Matrix<SCALAR, STATE_DIM, STATE_DIM> state_matrix_t; `

This will lead to implicit conversions between Eigen::Matrix and ct::core::StateMatrix.

Proposed solution As much as possible, re-use base-class typedef

`typedef typename Base::state_matrix_t state_matrix_t; `

If not available, use the CT type

[2019-05-18 06:42] markusgft opened #40 "Some traits are defined in two different places"
First occurrence: ct_core (where it should be!) second occurrence: ct/rbd/internal/ ...

[2019-05-18 06:43] markusgft opened #41 "System linearizers assume time-independent systems"
Except for the numerical system linearizer, the time or index is ignored => Assumes that the system is not time-dependent.

[2019-05-18 06:45] markusgft opened #42 "Write test case for DiscreteArray operator="
Becomes obvious when running NLOC_MPCTest with single-precision or in debug mode.

[2019-05-18 06:47] markusgft opened #43 "JIT is partially incompatible with 'kindr' and 'Eigen3'"
Problem 1: kindr assert-macros in kindr/common. Affected are both assert_macros and assert_macros_eigen. Proposed short-term solution: the assert macros are subject to the &#34;NDEBUG&#34;-flag , which can for example be set by compiling in Release mode (-DCMAKE_BUILD_TYPE=Release)

Problem 2: many rotation types in kindr feature a so-called &#34;fix()&#34; method, for example to normalize a Rotat

[2019-05-18 06:48] markusgft opened #44 "General constraints vs box constraints in DMS package"
Currently, the DMS-package does not distinguish between box constraints of form

u_lb <= u <= u_ub and x_lb <= x <= x_ub,

and general constraints of form

d_lb <= g(x,u) <= d_ub

When setBoxConstraints() is called in the DMS Constraint Discretizer, all box constraints are mapped back to general inequality constraints.

Treating them explicitly as box constraints might be advantageous in some case

[2019-05-18 06:49] markusgft opened #45 "JIT-libraries do sometimes not get deleted after destruction"
old libraries accumulate in workspace

[2019-05-18 06:51] markusgft opened #46 "NLOC: getSummary() requires the "printSummary" setting to be active"
Todo: decouple summary computation and retrieval. Note that computing the summary is not for free, so maybe introduce two settings: "computeSummary" and "printSummary".

[2019-05-24 16:28] markusgft commented on #31
something like this would fail, for state-dim 12. See line 420 onwards
Eigen::Matrix<CGScalar, 12, 1> test = x.head(STATE_DIM);

[code]

[2019-05-26 10:36] markusgft opened #47 "model derivative code generation libs (hyq-lin-codegen and hya-lin-codegen) do not get installed correctly"
and are not usable with rosrun.

[2019-05-26 10:38] markusgft opened #48 "Evaluate possibility to drop kindr-dependency"
We use very few kindr-methods only, it may be worth considering dropping the kindr dependency totally.

 * packages would become more lean
 * users would not have to install kindr separately

[2019-06-14 08:07] Scarabytes opened #49 "Many headers do not #include their dependencies"
For example, StateVector extends Eigen::Matrix but includes nothing at all.
It shouldn't be required for the user of a header to include it's dependencies.

I know that there are collective headers that include everthing needed, but they also include a lot of unneeded stuff that just increases compile time.

[2019-06-14 18:36] markusgft commented on #49
Hi @Scarabytes,
Thank you for your report. I agree that there could be a more consistent design regarding includes in header files in some places. Let me briefly comment on this:

- Our original design intention is indeed to let users include the convenience/bulk/collective includes.

- First of all, it should not significantly increase your compile time, performance wise it is perfectly fine to i

[2019-10-02 08:10] markusgft commented on #13
I have gotten the newest hpipm-release to work with the CT. I will commit this soon and notify everyone.

[2019-10-05 18:47] #49 closed

[2019-10-05 18:49] #38 closed

[2019-10-05 19:52] #28 closed

[2019-10-05 19:52] #13 closed

[2019-10-06 19:14] markusgft opened #55 "Extend backtracking line-search with additional step-acceptance conditions"
See "convex optimization" by Boyd et al.

[2019-10-06 19:35] markusgft commented on #45
See the following issue:
https://github.com/joaoleal/CppADCodeGen/issues/27#issuecomment-538776009

See also the following example: https://github.com/joaoleal/CppADCodeGen/blob/master/example/jit_linux.cpp

[2019-10-10 06:27] markusgft opened #56 "Get TVLQR-feedback matrices K and feedforward lv directly from HPIPM, without custom reconstruction step"
Catch up and adapt interfaces to results of https://github.com/giaf/hpipm/issues/76 once applicable.

[2019-10-19 22:15] markusgft commented on #56
solved in 3c38e5f1701fe8bbe50733ceaefedaa21b5fad16

[2019-10-19 22:15] #56 closed, assigned to markusgft

[2019-10-27 19:33] markusgft commented on #45
The accumulation of saved (old) libraries cannot be circumvented easily.
LLVM is now an optional dependency which allows to perform JIT without creating a dynamic library.
As of now, deep-cloning of LLVM model libraries is not yet implemented - the pipeline for optinional JIT with LLVM and CPPADCG is integrated and works, however deep-cloning of such libs is not yet supported.

[2019-11-03 21:23] #47 closed

[2019-11-03 22:07] markusgft commented on #45
To use llvm/clang, currently the following installation instructions have to be used:
https://blog.kowalczyk.info/article/k/how-to-install-latest-clang-6.0-on-ubuntu-16.04-xenial-wsl.html

[2019-11-24 08:06] thomasnappee opened #58 "Multiple compilation errors"
Hello

I'm facing several compilation errors :

`/usr/local/include/ct/external/cppad/cg/patterns/index/index_pattern_impl.hpp:41:60: error: no matching function for call to ‘max(long unsigned int, std::map<unsigned int, unsigned int>::size_type)’
     size_t maxCount = std::min(std::max(3ul, x2y.size() / 4), 8ul);
`

`/usr/local/include/ct/external/cppad/local/pod_vector.hpp:58:25: error: redefin

[2019-11-24 08:13] thomasnappee commented on #32
Hi, I'm facing the same problem. Did you find out any solution ?

[2019-11-24 09:28] markusgft commented on #58
Dear @tama10111
It seems like you are trying to build the CT on a Raspberry-pi device, which has in fact never been tested before. However, it should, in principle, be possible.
I successfully tested the build with gcc versions 5.4 and 7.4, version 8.3 is not tested as of now.
You could try running that older gcc version, for instance. Another thing you can try is checking out the devel-branch of

[2019-11-24 13:50] markusgft commented on #32
No, as of now, no solution has been reported. It may well be that newer releases of CppAD and/or clang++ and g++ do not show this bug, but this needs to checked and tested.
By the way, the upcoming 3.0.2 release makes CppAD and CppADCG optional, which will make it easier to circumvent this problem.

[2019-11-27 10:37] acxz opened #59 "[Feature Request] Python Bindings"
First off, great job on this project and thank you for developing it! It pleases me to see such a toolbox available openly.

I was wondering if there are plans for creating python bindings for this C++ project. It would increase the appeal of this project and increase its ease of use. Using something like https://github.com/pybind/pybind11 would go a long way.

[2019-11-27 11:08] acxz opened #60 "[Feature Request] DDP Implementation"
I would like to use a very fast C++ library for DDP (differential dynamic programming) but I couldn't find one online. I was hoping the toolbox has it, but I couldn't find it here either. If you guys are familiar with any C++ DDP implementations out there, could you recommend them to me?

In any case, I believe adding DDP to the control-toolbox would be a great feature. Especially if it utilizes A

[2019-11-27 13:36] markusgft commented on #60
Hi @acxz, thanks for your interest in the CT! We did not implement DDP and actually we are not planning to add DDP support. The CT implements iLQR, for example, which is a Gauss-Newton variant of DDP, and avoids many of the issues of exact-Hessian methods. In our opinion, for most applications where you would use DDP, iLQR gets the job done, too!

[2019-11-27 13:39] markusgft commented on #59
Python Bindings are on the bucket list, and pybind11 would be our favoured solution, too.
However, due to time constraints, we won't be able to offer you the feature immediately.

[2019-11-27 16:54] acxz commented on #59
I see. I am glad it is on the plan, however. I am not familiar with pybind11 myself, but I plan to learn how to use it. When I do, I would love to help integrating pybind11 support in this project.

[2019-11-27 16:58] acxz commented on #60
Ahhh okay. In that case, I would like to try to add a DDP implementation to this toolbox. Would you be open to accepting a PR for DDP, if I get around to it?

[2019-11-27 19:42] markusgft commented on #60
Sure!

[2019-11-28 15:54] thomasnappee commented on #58
Ok, thank you very much for your detailed informations :+1:

[2019-12-02 07:45] #58 closed, assigned to nobody

[2019-12-09 23:25] acxz commented on #60
@markusgft I am trying to incorporate DDP into CT, but I am getting a bit confused. I was wondering if you can point me in the right direction. Should I be editing [this](https://github.com/ethz-adrl/control-toolbox/blob/3.0.1/ct_optcon/include/ct/optcon/nloc/NLOCBackendBase-impl.hpp) file to incorporate the DDP case in addition to the iLQR case?

[2019-12-09 23:47] acxz commented on #60
Okay digging around a bit more, and I think I need to create a DDP version of [this](https://github.com/ethz-adrl/control-toolbox/blob/3.0.1/ct_optcon/include/ct/optcon/solver/lqp/GNRiccatiSolver-impl.hpp) file (GNRiccatiSolver-impl.hpp), in addition to incorporating DDP where iLQR is being used. Can I ask what the GN stands for in GNRiccatiSolver?

[2019-12-11 06:43] markusgft commented on #60
GN = Gauss Newton. Before touching anything, I would recommend you to carefully study the [associated publication](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwjduo2Y_qzmAhWtM-wKHQorAu0QFjAAegQIBBAB&url=https%3A%2F%2Farxiv.org%2Fabs%2F1711.11006&usg=AOvVaw39I-mGuWFVKzITyntR2JBH).
For DDP you would need to modify the LQ-approximation part to become a QQ-

[2019-12-22 07:52] markusgft opened #62 "Forward hpipm interface to release 0.1.2 (upcoming)"
Forward hpipm and blasfeo interface to release 0.1.2 (upcoming)

[2019-12-24 17:46] KarimHassanieh opened #63 "Compiling with Cmake"
Currently im trying to compille my code external workspace after installing the library using CMake adding ct library. But I keep getting the below error :
`In file included from /usr/local/include/ct/core/core.h:18:0,
                 from simple_oscillator.cpp:1:
/usr/local/include/cppad/example/cppad_eigen.hpp:16:11: fatal error: Eigen/Core: No such file or directory
 # include <Eigen/Core>

[2019-12-25 07:21] markusgft commented on #60
I assume I can close this now.

[2019-12-25 07:25] markusgft commented on #63
Hello @KarimHassanieh
did you make sure to install all dependencies using the _./install_deps.sh_ script from the folder _control_toolbox/ct_ ? It seems like the Eigen library is missing on your system. Or it is has been installed in a place where it cannot get located properly (I am wondering what you mean with "code external workspace")

[2019-12-25 07:33] #16 closed

[2019-12-25 07:34] markusgft commented on #2
Closed since no better viable option is on the horizon.

[2019-12-25 07:34] #2 closed

[2019-12-25 15:56] KarimHassanieh commented on #63
Hi thanks for the feedback it compiles and runs  fine within the ct workspace but if I want develop and compile using cmake outside ct workspace which I clone from gtihub I get the error above. Anyhow I solved it by changing the header to #include <eigen3/Eigen/Core> instead in every installed header to resolve this error now it compiles fine.

[2019-12-26 11:08] markusgft commented on #63
Would you mind posting a minimal example of how you include the CT in your project using cmake? It would be interesting to reproduce the issue.

[2019-12-27 20:30] KarimHassanieh commented on #63
Hi I managed to completely resolve the issue by adding  Eigen3::Eigen to target link libraries in CMake. Anyhow Im sharing the cmake sample used just for reference in case it needs to be reproduced.

[CMakeLists.txt](https://github.com/ethz-adrl/control-toolbox/files/4006198/CMakeLists.txt)

[2019-12-27 20:30] #63 closed, assigned to nobody

[2019-12-27 22:50] markusgft commented on #63
Did you try to also include find_package(ct_core) and then link against ct_core? That should be sufficient I believe. In your above CMakeLists.txt, find_package(ct_core) seems to be missing...

[2019-12-28 01:46] parthos opened #65 "Build issue"
Does this codebase need a specific version of the cppad library?
When I build the repository, it fails because a file is not found:
[code]
I can't find that file in the latest version of the CppAD repo.

[2019-12-28 08:01] markusgft commented on #65
Dear @parthos,
this is indeed a bug, which shows only when cppad-codegen ist not installed. I am working on a solution, meanwhile, please feel free to use the script ./install_deps.sh in control_toolbox/ct to install the dependencies!

[2019-12-28 09:02] markusgft commented on #65
This PRQ should have fixed the issue https://github.com/ethz-adrl/control-toolbox/pull/64

[2019-12-29 06:07] parthos commented on #65
Hi Markus,
   Thanks for resolving that issue. I cloned the latest repo and I'm getting a compilation error now:
[code]
I'm on ubuntu 16.04 and my gcc version is 5.4. I also used the script to install the dependencies. I'll try this on a machine with ubuntu 18.04 as well later and report if I have the same issue.

[2019-12-29 08:10] markusgft commented on #65
Okay, I have an idea what this is. However I am absent until 1/1/20, you
could try to work with tag 3.0.1 meanwhile.

On Sun, Dec 29, 2019, 07:07 Parthasarathi Ainampudi <
notifications@github.com> wrote:

[2019-12-30 18:44] parthos commented on #65
Thanks, 3.0.1 seems to be working.

[2020-01-03 11:05] markusgft commented on #65
Dear @parthos I have been trying to reproduce your error on Ubuntu 16 and 18, but did not find a cause for it. Do I understand correctly that you have another version of CppAD already installed on your machine?

[2020-01-08 00:21] tsender opened #68 "CT Core still has ties to non-existing "examples" folder for cppad"
I just updated to v3.0.2 and had an error compiling my catkin workspace. The CT core still tries to include files from the "cppad/examples/" folder you guys had a while back. Lines 21 and 22 in this file point to files that do not exist: [core.h](https://github.com/ethz-adrl/control-toolbox/blob/v3.0.2/ct_core/include/ct/core/core.h#L21)

For the time being, version 3.0.1 works for me. When you ca

[2020-01-08 07:46] markusgft commented on #68
Dear @tsender, thanks a lot for reporting your issue, this is valuable information to us.
In order to reproduce the problem, would you mind letting us know
 * what version of CppAD you used in your custom install
 * how (and possibly where) you installed it?

Generally, in any valid recent CppAD release and installation, the example folder https://github.com/coin-or/CppAD/tree/master/include/cppad

[2020-01-09 01:11] tsender commented on #68
I do not know how to find the exact version of CppAD that I have, but I can tell you it is either 20190200.3 or .4 (based on the dates of each release and when I likely installed it).

I used the regular cmake process (git clone, cd build, cmake, sudo make install) and it is installed in /usr/include/cppad/ on my computer.

I ran catkin build again and here is the situation:

- ct_core and ct_optc

[2020-01-09 09:19] markusgft commented on #68
Thanks for the detailed report. I can reproduce the issue. A patch will follow as soon as my time allows!

[2020-01-09 12:13] markusgft opened #70 "#include <cppad/example/eigen_mat_inv.hpp> will need to be removed for compatibility"
Earlier versions of the CPPAD-interface explicitly include the CppAD header
` #include <cppad/example/eigen_mat_inv.hpp> `
This header got moved around in the recent releases of CppAD causing version incompatibility.

[2020-01-09 12:14] markusgft commented on #68
@tsender please check out the above mentioned branch and test if this works for you. If yes, I will merge.

[2020-01-09 22:48] tsender commented on #68
@markusgft I checkout out the bugfix branch, ran a catkin clean on my system and everything compiled successfully (aside from warnings about a few dependencies I don't have). I also tested the LQR solver in my gazebo simulation for verification and it ran without errors. So, you should be good to merge the change.

Thank you very much for the quick turn around!

FYI: I have been using 2019 CppAD r

[2020-01-10 06:59] #68 closed, assigned to markusgft

[2020-01-10 08:01] EdisonKun commented on #65
Dear @markusgft I meet the same problem in ubuntu16.04. I used script to install the dependencies in the ct folder. The version of the control toolbox is v3.0.2. When I change to v3.0.1,In file included from /usr/local/include/ct/rbd/robot/Dynamics.h:14:0,
                 from /usr/local/include/ct/rbd/Robot:11,
                 from /usr/local/include/ct/rbd/rbd.h:15,
                 from /home

[2020-01-10 08:04] EdisonKun commented on #65
The problem occurs when I run the command: catkin build -DCMAKE_BUILD_TYPE=Release -DBUILD_EXAMPLES=true

[2020-01-10 08:33] markusgft commented on #65
@EdisonKun, thanks for reporting! Can you please let me know what your version of gcc (or clang) is, and on what system you are trying to build? Does the issue persist after doing a ``catkin clean --all` in your workspace? (In case you tried to build the software using bare cmake before, you would need to remove the installed files as well).
Do the examples from ct_core and ct_optcon run?

[2020-01-10 08:42] EdisonKun commented on #65
Dear @markusgft. Thanks for your reply. The gcc version is :
gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.12)
and the system is ubuntu 16.04. I make the command ''catkin clean --all'' and A new problem occurs:
Errors     << ct_models:make /home/kun/catkin_ws_dependency/logs/ct_models/build.make.000.log
In file included from /usr/local/include/ct/rbd/robot/Dynamics.h:13:0,

[2020-01-10 08:43] EdisonKun commented on #65
Dear @markusgft. Thanks for your reply. The gcc version is :
gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu116.04.12)
and the system is ubuntu 16.04. I make the command ''catkin clean --all'' and A new problem occurs:
``
Errors << ct_models:make /home/kun/catkin_ws_dependency/logs/ct_models/build.make.000.log
In file included from /usr/local/include/ct/rbd/robot/Dynamics.h:13:0,
from /usr/local/

[2020-01-10 09:16] EdisonKun commented on #65
Dear @markusgft. Thanks for your reply. The gcc version is :
gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu116.04.12)
and the system is ubuntu 16.04. I make the command ''catkin clean --all'' , and the same problem exists. So I can not to run the examples from ct_core and ct_optcon, because the build error.

[2020-01-10 13:41] EdisonKun commented on #65
Dear @markusgft
I correct the problem by remove all my compiled files, including the hpipm. But when I write the code in
`https://ethz-adrl.github.io/ct/ct_doc/doc/html/optcon_tut_lqr.html`
I got an error like this:
`/home/kun/catkin_ws_dependency/src/quadruped_locomotion/quadruped_model/test/ct_opti/lqr_optimal.cpp:8:5: error: ‘ADCGScalar’ is not a member of ‘ct::core’
     ct::core::ADCGScalar w

[2020-01-10 13:45] EdisonKun commented on #65
Sorry, the latest problem is the same as @parthos I return back to the origin.....

[2020-01-12 04:19] JunLi-HIT opened #71 "Build issure(v3.0.1)"
I am on Ubuntu18.04 with gcc 7.4.0. before installing the control-toolbox, I have installed the kindr by Building with cmake.  I used the the scripts install_cppadcg.sh , install_hpipm.sh, and install_deps.sh to install all the dependencies.  Then, I run the build script:
    cd your_workspace/control-toolbox/ct
    chmod 775 build_ct.sh
    chmod 775 build_doc.sh
    ./build_ct.sh -DCMAKE_BUILD_T

[2020-01-12 20:37] markusgft commented on #71
Dear @JunLi-HIT, my first guess would be the following ... did you run the scripts for installing dependencies in the correct oder? I.e. first the script "install_deps" and then the others?

[2020-01-13 06:20] JunLi-HIT commented on #71
Dear @markusgft , I have tested your guess. I installed a new Ubuntu 18.04.3 LTS system in a Desktop computer, and installed  these software again by running the following commands.

sudo apt-get update
sudo apt-get install libeigen3-dev
sudo apt-get install libboost-all-dev
mkdir SwInstSrc
cd SwInstSrc/
git clone https://github.com/ANYbotics/kindr.git
cd kindr/
mkdir build
cd build
cmake ..
sudo

[2020-01-25 16:03] markusgft commented on #65
Dear @EdisonKun @parthos
I finally found time to track down the problem. It will be resolved shortly in pullrequest #75
Sorry for the inconvenience!

[2020-01-25 16:07] markusgft commented on #40
prq #75 already eliminates two classes by using typedefs instead. proper solution pending.

[2020-01-25 16:45] markusgft opened #76 "Fix base Inverse Kinematics Test currently fails in CI"
* Fix base Inverse Kinematics Test currently fails in CI
 * see also pullrequest #77
 * test disabled for now

[2020-01-26 12:14] #65 closed, assigned to nobody

[2020-01-26 12:37] markusgft commented on #71
Dear @JunLi-HIT , I have just merged a few fixes to the branch v3.0.2 -- would you mind checking that one out instead and try to build?
Please note that a part of the changes is that v3.0.2 is restricted to using certain versions of CppAD and CppADCodeGen, both of them are detailed in the ./install_cppadcg.sh script.

[2020-02-05 05:06] rshum19 opened #78 "error: ‘ADCGScalar’ is not a member of ‘ct::core’"
Hi,

I'm having trouble compiling my own example of the LQR Control like the example "LQR Control of a Damped Oscillator". I'm compiling my code using

`catkin build -DCMAKE_BUILD_TYPE=Release -DBUILD_EXAMPLES=true`

The error I get is
[code]

below is a snippet of the code where I'm trying to define SCALAR type make my system aut-differentiable
[code]

The weird thing is that the LQR Control of a

[2020-02-05 08:04] markusgft commented on #78
Hi @rshum19 , thanks for reporting!
Can you quickly verify that the ct_core unit tests pass on your system, e.g. try to run
`$ catkin build ct_core -DBUILD_TESTS=true -DCMAKE_BUILD_TYPE=Release`
afterwards you should be able to run the code-gen unit tests. `rosrun ct_core CodegenTests`
Also, please let me know if you are on branch v3.0.2 or if you are on tag 3.0.2 (they are slightly different as o

[2020-02-05 16:38] tsaoyu commented on #78
Having the same issue and a similar system configuration. Error message `‘ADCGScalar’ is not a member of ‘ct::core’` while trying to compile the example in a separated catkin package. All unit tests are passed on git branch v3.0.2:
[code]
Also did some experiment to manually turn on `CPPAD` and `CPPADCG` flag in CMakeLists. `‘ADCGScalar’` issue goes away but complains  `note:   no known conversion

[2020-02-05 18:43] markusgft commented on #78
Dear @tsaoyu
Thanks for reporting. In order to clarify the issue, I wrote a test package, which is public and can be found [here](https://github.com/markusgft/test_package). It contains a slightly modified version of the LQR example code.
This package compiles fine on my machine using
`catkin build test_package`.
Can you verify if this test package works or fails on your machine

[2020-02-05 21:11] rshum19 commented on #78
Dear @markusgft
Thank you for your prompt response. Similar to @tsaoyu I can also report that all the units test passed on the git branch v3.0.2

[code]

With the test_package I have not issues compiling. However, when I run the example
[code]
I get the following output

[code]

It seems that the issue with   `ct::core::ADCGScalar` is not a problem with the test package. However I don't know why I

[2020-02-05 21:23] markusgft commented on #78
Okay .. this is getting more interesting by the minute. It might be that the find-script needs some more tweaks and tricks.
Can you confirm that lapack is not found during building? When you build with `catkin build -- verbose`, you should see some output like this when it builds ct_optcon
![image](https://user-images.githubusercontent.com/13830804/73884347-fa82e300-4865-11ea-90ac-bc36d41e7ca1.png

[2020-02-05 22:16] rshum19 commented on #78
Answering the original question the difference in CMakeList.txt file was a mistake in  ` target_link_libraries`, I was linking against `ct_rbd`

**Original**
[code]

**Solved**
[code]

Back to the **lapack** issue it does show that lapack was found
![screenshot_build](https://user-images.githubusercontent.com/1578461/73888149-158c2d80-483b-11ea-94e3-b5beab1cda79.png)

[2020-02-06 11:24] tsaoyu commented on #78
My test result on `test_package` also shows lapack was missing on my system. Rebuild `ct_optcon` after `catkin clean` is successful with IPOPT support.
[code]

[2020-02-06 12:27] markusgft commented on #78
So, @tsaoyu it is working for you, including lapack support?
And @rshum19 it is not working for you? Did you attempt a `catkin clean`?

[2020-02-06 16:18] tsaoyu commented on #78
@markusgft Still the same issue while trying to run the test package.
[code]
The thing is also strange that the example `ex_Nlp_2D` (require the IPOPT) runs well.

[2020-02-06 23:10] rshum19 commented on #78
@markusgft

I tried  `catkin clean` but the error in the test package still persist. However, I tried running the LQR example in ct_optcon and that had no issues

[code]
Maybe there is something missing in the CMakeList.txt of the test_package?

[2020-02-07 07:42] markusgft commented on #78
The most likely cause for the ssue is that for some reason, the CT_USE_LAPACK compile flag gets not exported properly in your cases (on my system, it does -- which is strange). I will figure a proper fix as soon as my time allows.
In the meantime, can you simply try adding the compile definition manually to your package, e.g. something along the lines of `add_definition(CT_USE_LAPACK)`

[2020-02-07 13:18] tsaoyu commented on #78
@markusgft  add compile flag `add_definitions(-DCT_USE_LAPACK)` solve the issue.

But the other packages discovery is still an issue. For example, the `CPPAD` flag seems broken that everytime when I call `ct::core::internal::TraitSelector<SCALAR>::Trait::cos()` the error
[code]

[2020-02-07 15:22] markusgft commented on #78
Dear @tsaoyu @rshum19
I finally understood the issue. The problem is that
`target_link_libraries( ... ${catkin_LIBRARIES}) `
does not perform a proper import of the compile flags of the catkin targets. In order to properly import the compile definitions, you are explicitly required to link against ct_optcon ...
`target_link_libraries( ... ${catkin_LIBRARIES} ct_optcon) `
..should solve the first p

[2020-02-07 15:44] rshum19 commented on #78
Dear @markusgft

Linking  against ct_optcon does solve the issue for the test_package. The interesting thing is that on my own package linking only to ${catkin_LIBRARIES} is sufficient. Nonetheless, I think you have helped me with my issues. I appreciate your prompt response and help!

[2020-02-10 18:08] tsaoyu commented on #78
Thank you for the help @markusgft! Now I am able to template my own model using traits.

[2020-02-10 21:45] rshum19 opened #80 "Issues trying to initialize a ct::core::ControlSimulator"
Hello,

I'm struggling to understand how to build a ct::core::ControlSimulator instance. This are my lines of code

[code]

However, when I try to compile I get the following error.

[code]

could you please help understand what I'm doing wrong when initializing a Control Simulator.

Thank you,
Roberto

[2020-02-11 07:04] rshum19 opened #81 "Trouble creating a ct::core::System from ct::rbd::FixBaseFDSystem"
Hello,

I'v created  model of my robot using RobCoGen and I'm now trying to simulate/control it. However, I'm having trouble creating an instance of the system ct::core::System from ct::rbd::FixBaseFDSystem. When copiling my code I get the folllowing error:

[code]

If I look in the generated files from RobCoGen in the 'jacobians.h' file I can see that there is a class
[code]

Here is a snippet of

[2020-02-11 08:16] #78 closed, assigned to nobody

[2020-02-11 08:21] markusgft commented on #80
Dear @rshum19
The bug above is coming from the fact that the system that you pass to the control simulator must define a typedef for the SCALAR type. That means your custom system must provide that typedef.
Please be warned about the following: The control simulator is a legacy class which has not been used for quite a while. I would recommend you to resort to the standard integrator implementatio

[2020-02-11 08:27] markusgft commented on #81
I suspect that the error is somewhere in the details, probably a naming issue. The above error references "base_J_fr_ee", but what you have in your class is "fr_base_J_fr_ee ". Note the difference, there is an additional "fr". You might want to carefully check which frames are defined in your kindsl and dtdsl files!

[2020-02-11 16:38] rshum19 commented on #80
Dear @markusgft

Thank you for the advice, if it a legacy class then I will refrain from using and resort to standard integrator implementation.

[2020-02-11 16:38] #80 closed, assigned to nobody

[2020-02-12 20:19] rshum19 commented on #81
Dear @markusgft

I'm not sure what my bug was, but I rewrote all my .kindsl and .dtdsl files and fixed the problems I was having. I appreciate all your help!

[2020-02-12 20:19] #81 closed, assigned to nobody

[2020-02-17 14:44] roversch opened #82 "Missing identifier ''i'"
I'm getting following compiler error when building examples:

    <...>/ct_optcon/examples/KalmanDisturbanceFiltering.cpp:316:63: error: ‘i’ was not declared in this scope
           << std::fixed << std::setprecision(6) << states[i][0] << "\t" << states_est[i][0] << "\t"`

A quick check shows indeed that 'i' is not declared if printing is disabled.

[2020-02-17 15:12] markusgft commented on #82
@roversch thanks for reporting!
Fixed in #83

[2020-02-19 09:23] #82 closed, assigned to nobody

[2020-02-19 12:29] markusgft commented on #71
close due to inactivity.

[2020-02-19 12:29] #71 closed, assigned to nobody

[2020-02-23 04:32] yangcyself opened #86 "invalid covariant return type of LTISystem"
I'm getting `invalid covariant return type` compiler error when builidng a LTISystem:

[code]

[code]

I think the problem comes from the incoherency with StateMatrix StateVector ControlMatrix ControlVector types, and maybe solved as suggested in #39

[2020-02-28 20:34] filipodu982 opened #87 "Trouble finding LAPACK"
Hello,
I am trying to use LQR in my project and I run into a problem:
"what():  solveSchurDirect() in CARE can only be used if the lapack library is installed on your system."
The issue is that I have Ubuntu and I tried installing lapack and blas in every way possible. I did sudo apt-get install libblas-dev liblapack-dev, I tried building the library myself and putting it into /usr/local/lib/ and

[2020-02-29 07:41] markusgft commented on #87
Dear @filipodu982
I believe that all you need to do is explicitly link your target against ct_opcton (or ct_rbd, ct_models) see also the discussion in #78
Could you give that a try?

[2020-02-29 07:42] markusgft commented on #86
Dear @yangcyself
thanks for reporting, I will prioritize this bug in the next release!
Best

[2020-02-29 14:01] filipodu982 commented on #87
I added a line add_definitions(-DCT_USE_LAPACK) in CMakeLists and everything works like a charm. Thank you so much.

[2020-03-07 01:13] eric-heiden opened #88 "Memory Leak in HPIPM Interface"
Thank you for providing this library!

While using the HPIPM-based iLQR solver, I found some memory leaks in `HPIPMInterface`.
Indeed, the function [`initializeAndAllocate()`](https://github.com/ethz-adrl/control-toolbox/blob/v3.0.2/ct_optcon/include/ct/optcon/solver/lqp/HPIPMInterface-impl.hpp) allocates memory without freeing it.

[code]

[2020-03-11 07:24] #88 closed, assigned to nobody

[2020-03-15 07:24] kvmanohar22 opened #98 "Solving Controllability Gramian"
Hi,

I am using the library in solving optimal control problems as part of my optimal controls course.

Although I am more interested in solving the problems from ground up, I am faced with few challenges. For eg: in solving a min. energy problem for a linear system using Hamiltonian formulation requires computing the Controllability gramian. I haven't come across on how to solve this matrix integ

[2020-03-15 09:05] markusgft commented on #98
Dear @kvmanohar22
The Control Toolbox does currently not have default implementations of the controllability and observability Gramians.
So far, the implementation of the LTISystem class holds elementary checks for controllability and observability based on the Kalman criterions, see [here](https://github.com/ethz-adrl/control-toolbox/blob/af3ea074c8d067393eeda70e0dc016967be70ddc/ct_core/include/c

[2020-03-15 11:13] kvmanohar22 commented on #98
Thanks a lot @markusgft. Thought of adding this feature into the library. #99

[2020-03-17 15:06] kvmanohar22 commented on #98
I have a small doubt, to solve for finite dimensional controllability gramian `W_{t_{f}}`, I am not quite sure how we would specify the system. In this case, the system would be the following

`dW/dt = f(t) where f(t) = e^{A(t_f - t)}BB^Te^{A^T(t_f - t)}.`

where on the RHS we have a matrix. I am not quite sure how we would specify such a system in the `System Discretizer`.

[2020-03-18 06:55] acxz opened #101 "HPIPMInterface Build Errors"
When compiling with HPIPM enabled I receive the following errors:
[code]

OS: ArchLinux
HPIPM: 0.1.1

[2020-03-18 07:15] markusgft commented on #101
Hi @acxz
On HPIPM, we are currently not on 0.1.1 anymore, but on a specific commit, see https://github.com/ethz-adrl/control-toolbox/blob/a59278f6e5ea4f3d63aaa3c5f4d3efb60690ef65/ct/install_hpipm.sh#L17
Everything should work fine once you check out the correct commit.

[2020-03-18 07:15] #101 closed, assigned to nobody

[2020-03-18 07:19] acxz commented on #101
Yeah I just figured that out, thx. I installed the `hpipm-git` package on ArchLinux instead of the `hpipm` package (which is at 0.1.1) and it built just fine. Thx!

[2020-03-18 07:36] markusgft commented on #70
Has been forwarded to the 2020 releases by @acxz .

[2020-03-18 07:36] #70 closed, assigned to markusgft

[2020-03-18 07:46] markusgft commented on #98
Dear @kvmanohar22 ,
well, I have to apologize, you are absolutely right. I pointed you to the wrong class. In fact, what you need is the `SensitivityApproximator`, see [here](https://github.com/ethz-adrl/control-toolbox/blob/af3ea074c8d067393eeda70e0dc016967be70ddc/ct_core/include/ct/core/integration/sensitivity/SensitivityApproximation.h#L32).
It allows you to set the continous-time system and th

[2020-03-18 08:32] acxz opened #102 "[Request] Move away from Python2 and support plotting via Python3"
As you may know, python.org has stopped supporting python2, and even though Canonical has picked up supporting python2 for the time being, it is probably a good idea to move towards a plotting codebase that works with Python3.

[2020-03-18 09:00] kvmanohar22 commented on #98
No problem at all!!
I will have a look at that and get back to you!

[2020-03-18 10:07] acxz opened #103 "[Request] Add `make uninstall` targets to CMakeLists.txt of all modules."
It would be nice if there is a `uninstall` target (`sudo make uninstall`) for users to remove `control-toolbox` from their systems.

[2020-03-18 15:55] nielsv98 opened #104 "Couldn't find executable named ex_NLOC"
Maybe this is a stupid question, but I am new to CT and trying to install it on a google coral dev board (mendel linux). I followed all the steps of building the repositories for ROS users, which seemed to go as it was supposed to. However, when I try to run one of the examples 'ex_NLOC' the following error pops up: Couldn't find executable named ex_NLOC below: /home/mendel/BJ_ws/src/control-toolb

[2020-03-18 16:04] markusgft commented on #104
Hi @nielsv98
Are you looking for the executables in the src folder? Of course, they will not be there, since they get installed in different folders. During the building process (and before installation) you will find them in the build folder (of your catkin workspace). Afterwards, they will be in the moved to the cmake installation directory ... however I do not know what that is going to be in y

[2020-03-18 16:46] acxz commented on #104
Just to make sure have you followed the steps shown on the [getting started](https://github.com/ethz-adrl/control-toolbox/wiki/Quickstart#for-ros-or-catkin-users) line by line?

[2020-03-18 17:26] markusgft commented on #102
Good point, I agree that should be tackled at some point!

[2020-03-18 21:18] #103 closed, assigned to nobody

[2020-03-22 14:37] markusgft commented on #104
@nielsv98 has your issue been resolved?

[2020-03-23 09:38] nielsv98 commented on #104
Sorry for the late reply, I removed all build files from the board and tried to follow the 'getting started' steps again. This time it did work, I am not very sure of where it went wrong last time as it seems I did the same steps. However, the issue is now resolved. Thanks for the help!

[2020-03-23 09:40] #104 closed, assigned to nobody

[2020-03-26 13:04] tsaoyu opened #109 "CotinuousOptConProblem with ADCodegenLinearizer"
Does it possible to construct a `CotinuousOptConProblem` from `ADCodegenLinearizer` instead of `SystemLinearizer`? As far as I can understand, the former one performs auto-diff and the later one did it numerically. https://ethz-adrl.github.io/ct/ct_doc/doc/html/execution_speed.html recommend the use of  `ADCodegenLinearizer` for optimised execution speed.

[2020-03-27 10:27] markusgft commented on #109
Yes, that is of course possible. I would recommend you to take a look at the unit tests, they show you in detail how to instantiate a ADCodgenLinearizer for both continous-time and discrete-time systems.

[2020-03-28 12:11] tsaoyu commented on #109
Could you please point out which unit test file should I look at? I have gone through most of them but struggle to find an example that instantiates `ADCodgenLinearizer` in continuous time. Thanks

[2020-03-28 15:55] tsaoyu commented on #109
I tried to create a new templated type
[code]
to use templated dynamics and ADCG in `OptConProblemBase`. The error I got was
[code]
Is this the right way to go?

[2020-03-29 06:49] markusgft commented on #109
A working example of how to use the ADCodegenLinearizer can be found in [this example in ct_optcon](https://github.com/ethz-adrl/control-toolbox/blob/f8b15baf2dd1796acb56d74876e3007cc602ca9d/ct_optcon/examples/LQR.cpp#L23).
I hope it helps!

[2020-03-29 06:52] markusgft commented on #86
Will be fixed in v3.0.3, see also commit 5f73b9e on the devel branch.

[2020-03-29 06:55] markusgft commented on #36
Having looked into this, there seems to practical way to realize this consistently, as long as we rely on boost integrators. The constraints of the API design are such that systems cannot be entirely stateless.

[2020-03-29 06:55] #36 closed

[2020-03-29 07:09] markusgft commented on #30
Issue does not appear on v3.0.3-devel.

[2020-03-29 07:09] #30 closed

[2020-03-29 07:10] #87 closed, assigned to nobody

[2020-03-29 07:11] #86 closed, assigned to markusgft

[2020-03-29 07:37] braunzel commented on #42
Could not not confirm issue, created a test case in DiscreteArrayTest.cpp

[2020-03-29 07:37] #42 closed

[2020-03-29 07:38] braunzel commented on #42
Could not confirm the issue.

[2020-03-29 11:35] tsaoyu commented on #109
@markusgft Thanks! I have done this already. The problem I had is how to pass the adLinearizer to ContinuousOptConProblem. The ContinuousOptConProblem seems templated for SystemLinearizer which is numerical differentiation.

[code]

Please advice.

[2020-03-29 11:39] markusgft commented on #109
What you try above, the "new template type" is certainly not going to work. You cannot template your problem onto a fully abstract base class.
What I would advise you to do, is to take exactly your original setup, but rather than handing over a SystemLinearizer pointer, you hand over a ADCodegenLinearizer pointer to the continous-time optcon problem. Since they derive from the same base class (Lin

[2020-03-29 12:56] tsaoyu commented on #109
Yep, I agree on the original setup should works. To better illustrate my issue, I have created a minimal case using the example from `ct_optcon` (the one you pointed). The code and error message is here: https://gist.github.com/tsaoyu/fd084f91c0aff21ce63dcf47d40649c2
A shared pointer is now been passed onto `ct::optcon::ContinuousOptConProblem` as I did before. In theory, this should match the fun

[2020-03-29 13:41] tsaoyu commented on #109
Thanks @markusgft !
In case anyone who runs into the same issue the answer is here: https://gist.github.com/tsaoyu/fd084f91c0aff21ce63dcf47d40649c2#gistcomment-3231924
TL;DR

Create TWO instances of dynamics and use the double templated for the `ContinuousOptConProblem`.

[2020-03-29 13:41] #109 closed, assigned to nobody

[2020-04-13 06:56] #102 closed, assigned to nobody

[2020-04-14 22:11] acxz commented on #102
I'm gonna leave this here since I think it relates. https://pybind11.readthedocs.io/en/stable/advanced/embedding.html

TLDR we embed python interpreter and use it for plotting. Here we can get full feature parity (since we are using python directly, instead of wrapping it) compared to matplotlib-cpp. We can also use different and better plotting libraries like [plot.ly](https://plotly.com/python/)

[2020-04-20 15:49] hmcm opened #118 "Updating General Constraints within MPC loop"
I am using the MPC class for a differential drive robot in order to track a moving target. In order to avoid a collision with the moving target, I want to implement an ObstacleConstraint around the target. I have added the obstacle constraint as a general constraint (ConstraintContainerAnalytical) to the initial ContinuousOptconProblem. However, I have to update the general constraint in each MPC

[2020-04-22 05:24] markusgft commented on #118
Hi @hmcm
What I would recommend you to do is to use one of the non-const getters for accessing the constraint containers in the NLOptconSolver interface class, see [here](https://github.com/ethz-adrl/control-toolbox/blob/7412e0a03086ca37b6d68bbe41b88f1fdf76efa8/ct_optcon/include/ct/optcon/solver/NLOptConSolver.hpp#L237)
It will return you a std::vector of constraints, over which you can iterate an

[2020-04-22 11:34] GuiyangXin opened #119 "CARE results for high-dim systems seem to differ from the Matlab solution"
Hi there,

I am trying to integrate CT with my program. But I got this error
solveSchurDirect() in CARE can only be used if the lapack library is installed on your system
when I am calling lqrSolver.compute(Q, R, A_ct, B_ct, K_ct). If I use lqrSolver.compute(Q, R, A_ct, B_ct, K_ct, false, true), I can got a resulted K_ct matrix. But I checked the example rosrun ct_optcon ex_LQR, it works without a

[2020-04-22 12:00] markusgft commented on #119
Hi!
Is lapack installed on your system? If not, you can install it by using `sudo apt install liblapack-dev`.
Otherwise, it might be a linking issue. Are you linking your code appropriately against ct_optcon?
If yes, it may help to set the compile definition explicitly, you could try `catkin build -DCT_USE_LAPACK=true`

[2020-04-22 12:27] GuiyangXin commented on #119
Thanks for your answer. I downloaded lapack source and installed it via make install. After running sudo apt install liblapack-dev, I got this liblapack-dev is already the newest version (3.7.1-4ubuntu1).
I also tried to compile ct_optcon using catkin build -DCT_USE_LAPACK=true ct_optcon. But I still got "solveSchurDirect() in CARE can only be used if the lapack library is installed on your system

[2020-04-22 12:33] markusgft commented on #119
Is your code located in a separate repository? In that case, you need to compile your code with the flag `CT_USE_LAPACK`, too. And link against ct_optcon in target_link_libraries(... ct_optcon) in your code. The type of matrix does not matter.

[2020-04-22 12:39] GuiyangXin commented on #119
My catkin package and CT are in the same workspace.

[2020-04-22 12:42] GuiyangXin commented on #119
Can I try Matlab by setting -DMATLAB=true?

[2020-04-22 12:42] markusgft commented on #119
That is fine, but it was not the intent of my question. Please refer to my [above comments](https://github.com/ethz-adrl/control-toolbox/issues/119#issuecomment-617751152).

[2020-04-22 12:47] GuiyangXin commented on #119
Here is my repository's CMakeList

# Project configuration
cmake_minimum_required (VERSION 2.8)
project(edin_loco)

add_definitions(-std=c++11)

string(REPLACE ":" ";" newstring "$ENV{CMAKE_MODULE_PATH}")
set(CMAKE_MODULE_PATH "${newstring}")
include(vscode OPTIONAL)

# Find Catkin
find_package(catkin REQUIRED COMPONENTS
  robot_utils
  std_utils
  curves
  signal_logger
  parameter_handler
  numo

[2020-04-22 12:58] GuiyangXin commented on #119
In my hpp file, I declare the object as
ct::optcon::LQR<36, 18> lqrSolver;
In cpp file, I use it as
 lqrSolver.compute(Q, R, A_ct, B_ct, K_ct);

[2020-04-22 14:01] markusgft commented on #119
the control toolbox, i.e. ct_optcon, is not a catkin package! So you cannot add it to CATKIN_DEPENDS, etc.
You need to treat it like a pure cmake library. In catkin_package, you should add it to the DEPENDS tag, and when linking, you should write
[code]

[2020-04-23 05:01] markusgft commented on #119
@GuiyangXin has this been resolved now?

[2020-04-23 08:27] GuiyangXin commented on #119
I am still working on it. I will let you know. Thanks.

[2020-04-23 21:12] GuiyangXin commented on #119
Hi @markusgft,

The problem is solved. You are right. CT is not a catkin package. My cmakelist was wrong. Also, I think using lapack is the default method for lqr.compute(). Using Lapack to solve Riccati equation is much faster than the iterative method. But the K gain from lqr.compute() doesn't look like correct. I need to test it and compare it with Matlab.

Thanks a lot,

Guiyang

[2020-04-24 06:06] markusgft commented on #118
I assume this has been resolved, please feel free to reopen the issue if you have further questions.

[2020-04-24 06:06] #118 closed, assigned to nobody

[2020-04-24 10:05] hmcm commented on #118
Hi @markusgft,
thank you for this fast answer, it solved my issue!

[2020-04-26 19:29] condor-cp commented on #62
Hello, and thank you for this great library !
I issue some troubles (illegal instruction) when running NLOC_boxConstrained when calling d_ocp_qp_ipm_solve (hpipm interface).
I installed hpipm through the shell scrip provided that uses hpipm 0.1.2 commit. I wonder if the issue I experience may be related to this opened issue ?

Thank you,
Cédric

[2020-04-26 19:33] markusgft commented on #62
Dear @CedricPerottet
thank you for reporting your issue! On which architecture and operating system are you?
Did you have any previous versions of hpipm or blasfeo installed?
Would you mind verifying if you can build the run the hpipm unit tests? For that purpose, you should build hpipm manually using cmake, using the additional test target!
Best

[2020-04-27 15:18] condor-cp commented on #62
I'm running on Ubuntu 18.04.4, with a 8 years old i7 core (Intel(R) Core(TM) i7-3610QM CPU @ 2.30GHz).
I did build hpipm tests with CMake as you suggested, two class member have not been updated in the tests. But more importantly, when running the tests, I get the same error as when I used it from the CT, so it seems the issue I have is not related to the CT. I will seek some help to make hpipm wo

[2020-04-27 15:44] mahumada408 opened #122 "Convex MPC"
Hi,

I wanted to know if you have any thoughts on where I should get started to solve convex MPC problems with the control toolbox. For example, would you be able to use this architecture to solve the MPC problem in the MIT Cheetah (and mini Cheetah), and use Gazebo as the simulation platform? I have a gazebo sim of a small quadruped ready to go, and I'd like to control it with an MPC. If you coul

[2020-04-27 17:28] condor-cp commented on #62
I finally got hpipm to work !
When reading more in details how to install Blasfeo, I found that the target architecture needed to be specified in Makefile.rule as explained [here](https://blasfeo.syscop.de/docs/install/#configuration).
So maybe I will suggest to add a comment in the install file of hpipm in a future pull request.
Regards, Cédric

[2020-04-27 17:36] markusgft commented on #62
Dear @CedricPerottet, thanks for pointing out the issue! It would be fantastic if you would like to add a comment to the installation instructions!
Best!

[2020-04-27 17:40] markusgft commented on #122
Dear @mahumada408
The CT does unfortunately not come with a default gazebo integration, but it is certainly a tool which can help you in solving the mentioned MPC problems.
For communicating with gazebo, you could for instance use ROS. If you are interested in seeing CT examples with ROS integration, including a motion optimization task for a quadruped, I can recommend you checking out the example

[2020-04-27 18:04] mahumada408 commented on #122
Great! I'll take a look at ct_ros.
Are there any examples on how to solve a convex MPC with CT?

[2020-04-28 17:01] GuiyangXin commented on #119
Hi @markusgft,

I tested lqr.compute() in different cases. I compiled the code with -DCT_USE_LAPACK=true. I first tested it with a very simple example, where A = [-0.313 56.7 0; -0.0139 -0.426 0; 0 56.7 0];
B = [0.232; 0.0203; 0]; In this case, co = ctrb(A,B) and  rank(co)=3, which means the system is fully controlled. lqr.compute(A,B,Q,R,K) got the same result as the one in Matlab.
However, in my

[2020-04-28 18:37] markusgft commented on #122
Well, basically all the linear-quadratic examples and unit tests are convex problems, which may serve as examples for you!

[2020-04-28 18:52] markusgft commented on #119
Dear @GuiyangXin,
thank you for reporting the issue. It might well be that there are some numerical issues hidden somewhere, let us try to find them! In order to find the problem, we need to try to narrow down the source of the error.
1. How are you computing the continuous-time linearization of your robot model? Is that done with a CT linearizer, or are you implementing the linearized matrices di

[2020-04-28 20:18] GuiyangXin commented on #119
Hi @markusgft ，
1. I am doing numerical finite differentiation manually. After getting the linearised system (A and B matrices), I call lqr.compute(Q,R,A,B,K).
2. The R matrix is diagonal in my case. I tried lqr.compute(Q,R,A,B,K, false) and lqr.compute(Q,R,A,B,K, true). They gave me different result. But both of them are not close to Matlab result. And they are obviously wrong. For example the 7t

[2020-04-29 05:27] markusgft commented on #119
@GuiyangXin, this is getting more and more interesting. The CARE implementation is in fact unit-tested against the Matlab solution, however it might well be that there unknown problems for high-dim systems.
There is a unit test for a system with intermediate dimensions, it considers a quadrotor, see
[here.](https://github.com/ethz-adrl/control-toolbox/blob/4fd7c90d1c9ef329b2cc596be45e76621a16e8ed/

[2020-04-30 23:31] erwincoumans commented on #122
You may also get some inspiration from their repository, both control and simulator of the MIT Cheetah is open source here: https://github.com/mit-biomimetics/Cheetah-Software
(search for LQR and QP)

[2020-05-01 06:10] rshum19 opened #124 "Cost function with higher order state derivative terms"
Hi

I was wondering if there is a way of using higher order derivative of the state in the cost function? For example for a quadrotor we would like to minimize the snap. So far I have only found how to implement state based  quadratic cost function.

Thank you!

[2020-05-01 07:31] markusgft commented on #124
Dear @rshum19
No, this functionality is currently not implemented. But due to the modular structure of the cost functions and terms, it should be relatively straight-forward to create a custom term with the higher-order derivatives that you need!
Best

[2020-05-01 18:55] GuiyangXin commented on #119
Hi @markusgft ,

I tested the quadrotor example. Matlab and CARE got the same result. I think this is because the rank of controllability matrix is full rank. I used matlab to compute the rank of the controllability matrix. The rank is 12 that is equal to the state dimension. In my case, the state number 36 is much larger than the rank of controllability matrix (the rank is 16). But Matlab can giv

[2020-05-01 20:57] mahumada408 commented on #122
@markusgft thanks for pointing out the linear quadradic examples. I realize that most of those are LQR problems with no constraints. How could I set the problem up with constraints? At that point, I assume I would need to use IPOPT, right?

@erwincoumans thanks, I didn't realize that the control code for Cheetah was open source. I'll definitely take a look and try to implement it with this toolbox

[2020-05-01 21:39] markusgft commented on #122
[Here ](https://github.com/ethz-adrl/control-toolbox/blob/4fd7c90d1c9ef329b2cc596be45e76621a16e8ed/ct_optcon/examples/NLOC_boxConstrained.cpp#L17) is an example with box constraints, in the same folder there is an example which uses general inequality constraints.
The solver which is employed for the constrained LQ problems is HPIPM, which you can install using the convenience bash script in the /

[2020-05-01 22:02] markusgft commented on #119
The Matlab documentation says that their CARE solver requires the pair (A,B) to be stabilizable.
I will need to check back on the assumptions of our CARE solver implementation, it might well be that we need the pair (A,B) to be controllable. But I need to look up the details!

[2020-05-03 06:53] crankler opened #126 "Compile problem"
Hi, I'm strange to "catkin_build" so I follow the quickstart:https://github.com/ethz-adrl/control-toolbox/wiki/Quickstart

When I try to compile this package,  I use the command:
`catkin build -DCMAKE_BUILD_TYPE=Release
Then I inout the command and error show：
`catkin build -DCMAKE_BUILD_TYPE=Release -DBUILD_EXAMPLES=true`

     ct::core::plot::plot(v);
               ^~~~
compilation terminated d

[2020-05-03 07:51] markusgft commented on #126
Hi @crankler
this was a problem on our side -- I pushed some commits to fix it. Please pull again and retry!
Best

[2020-05-03 14:49] crankler commented on #126
I have tried and it works, Thank you for your help and sharing!

[2020-05-04 00:28] #124 closed, assigned to nobody

[2020-05-04 10:51] #126 closed, assigned to nobody

[2020-05-08 10:22] #122 closed, assigned to nobody

[2020-05-09 18:26] GuiyangXin commented on #119
Hi @markusgft,

I want to use

[code]
But I cannot find this matlabCppInterface/Engine.hpp. What is this package matlabCppInterface?

[2020-05-10 13:54] acxz commented on #60
Hey @markusgft im trying to slowly chip away at this. I was wondering if I could ask you a question.
You mention that

Does this mean that we don't want a separate series of files for QQ-approx? As in we don't add a QQOCProblem along with LQOCProblem but make the new QQOCProblem generic enough for the current LQOCProblem?

Right now what I am doing is just adding the corresponding QQ files along w

[2020-05-10 18:00] markusgft commented on #119
Hi, the matlabCppInterface package is currently not open-source, it is closed-source, belongs to ETHZ and will most likely not be released any time soon. So unfortunately, we cannot provide support for this feature.
In the end, however, this is just a simple wrapper package which access the C/C++ API of Matlab.

[2020-05-10 18:06] markusgft commented on #60
Hi @acxz,
for developing, I would probably choose the same approach like you. In the end, however, once you have a working implementation, we should think of how to merge it all together with as little as possible code dublication.
There is also one thing we should have in the back of our minds - I am currently drafting version 3.0.3, which will see a quite significant change in the design pattern

[2020-05-10 18:14] acxz commented on #60
I see, yes reducing code duplication should def be priority once I can verify and compare both LQ and QQ code.

Ah thanks for letting me know about 3.0.3. When do you think it will be released?
I think right now I still have much to learn about the inner workings of the codebase, so it will be better if I continue hacking away at it on 3.0.2, so then when we do have to merge things I can better un

[2020-05-10 18:22] markusgft commented on #60
Sure, please do not hesitate to come back with questions!

[2020-05-10 19:12] GuiyangXin commented on #119
All right. Thank you. I will try matlab API.

[2020-05-11 00:28] rshum19 opened #130 "Logging to Matlab - assess if we can release the Matlab-Cpp interface package publicly"
Hi @markusgft

I'm continuing to explore more the CT and all its features. I came across some the "MATLAB" flag in ct_optcon/CMakeLists.txt and the "logToMatlab" solver settings. I was wondering if there exist a capability to log to Matlab. If so, how do I actually use it. I tried setting the "logToMatlab = True" but that didn't seem to do anything.

Thanks!

[2020-05-12 19:06] markusgft commented on #130
Dear @rshum19
yes, there exists the possibility to log to Matlab, however this requires a separate package, which is as of today not open-source. Let me check if we can open-source that package, I will come back to this thread.
Best

[2020-05-12 19:08] markusgft commented on #119
See also the discussion in #130

[2020-05-12 21:12] markusgft commented on #130
Please check out [this](https://github.com/ethz-adrl/matlab_cpp_interface) and confirm that it works for you (or not).
Best

[2020-05-12 21:13] markusgft commented on #119
Here is a preliminary release of the package which holds the interface to matlab.
https://github.com/ethz-adrl/matlab_cpp_interface

[2020-05-12 22:42] rshum19 commented on #130
Dear @markusgft  Thank you for getting back so quick and open sourcing the matlab interface package!!

 I have compiled the matlab_cpp_interface package successfully and all the the test seem to pass from test_main.cpp and ros_test_main.cpp.

However, I'm not quite sure how to log to matlab. I have

1.  Recompiled the **ct_opcon** package with the flag `-DMATLAB=ON`
2.  In my solver.info I have se

[2020-05-13 06:01] markusgft commented on #130
Dear @rshum19
I have not been using the matlab interface for almost 3 years, so I can only make a quick guess for debugging.
 * Maybe, the easiest starting point for you would be to include a simple printout at the place where you expect the logging function to be executed, and verify that it actually calls it? This may be somewhere in the NLOCBackendBase class.
 * I am not sure if the engine can

[2020-05-13 15:52] rshum19 commented on #130
@markusgft  thank you for the suggestions, I will try them and report back if I was successful in getting it working.

I appreciate your prompt response, the support you provide for this library is one of the best features!

[2020-05-16 13:27] GuiyangXin commented on #119
Hi @markusgft,
Thank you very much for sharing the package. After compiling, I tried to run ./matlabTest. It doesn't work.

[code]

I don't know what the reason is. Maybe it is due to Matlab version, or installation. I will write a test file based on Matlab official tutorial.

[2020-05-16 16:16] acxz commented on #60
@markusgft another quick semantics question. What variable convention should I use for the quadratization?
For linearization the code has `Ax + Bu`, where `A` and `B` are the linearized matrices.
I was thinking of using: `x^T Fxx x + 2 * x^T Fxu u + u^T Fuu u + Fx x + Fu u` Would you be fine with this convention of using `F` with the appropriate differentiation variables as subscripts?

Also is it

[2020-05-16 17:52] markusgft commented on #60
Sure! And just in case, such small things can always be refactored quickly!

On Sat, May 16, 2020, 18:16 acxz <notifications@github.com> wrote:

[2020-05-19 05:54] #130 closed, assigned to markusgft

[2020-05-19 13:34] hmcm opened #133 "Solving quadratically constrained quadratic problems"
Hi,
I am using the MPC class for a differential drive robot in order to track a moving target.  In order to avoid a collision with the moving target and other dynamic obstacles, I used the implemented ObstacleConstraint. However, it appears that HPIPM is not able to solve the problem with the obstacle constraint. The solver returns flag 2, "minimum step length reached".

I have reduced the problem

[2020-05-19 13:43] markusgft commented on #133
Hi @hmcm
I general I do not see any major obstacles which should prevent hpipm from solving your problem, so it is most likely some kind of configuration issue. Let's debug this step by step.

 * First of all, can you verify that the problem is reasonably solved when you remove both box and general constraints, and only consider the differential-drive dynamics? If your cost function is well-tuned,

[2020-05-19 17:11] hmcm commented on #133
Hi @markusgft ,
thanks for your fast reply!

1)  If I remove all constraints, the goal position is reached with a smooth trajectory. HPIPM returns that the QP was solved. Maybe as an additional point here: I have been using the MPC with the differential-drive dynamics without the obstacle constraint (but with box constraints), and it behaves as expected.

2)  If I remove the box constraints and on

[2020-05-20 07:06] markusgft commented on #133
Hi @hmcm

Thanks for pointing this out, this is clearly a bug, of course it should be hpipm_status_ == 3.
Do you want to open a pullrequest for a patch, or should I?
As for the general constraints, let us proceeds as follows: what happens when you move the obstacle far away from the optimal solution, for example into a completely different region of the "workspace"? Do you still see numerical trou

[2020-05-20 13:11] hmcm commented on #133
Hi @markusgft

I opened the pull request for the patch. As for the feature, that sounds very promising!

Regarding my issue: When I move the obstacle to a completely different region (pos_obstacle = (-10,-10) when goal = (10,10)), I still get the same numerical problems with only the general constraints. If I add the box constraints, hpipm still returns flag 2. (both for GNMS and ILQR)

[2020-05-21 16:59] markusgft commented on #133
Hi @hmcm
I just looked at your example and I believe I found potential problems.
Firstly -- and this is a problem on our end -- you are using a constraint container which was never really tested in combination with the NLOC solver. The obstacle constraint class was originally developped for the NLP-based solvers, and honestly, without going through a test procedure I cannot tell you right away if

[2020-05-22 06:31] hmcm commented on #133
Hi @markusgft
Thanks a lot for looking into it! I will try to implement your approach next week and see if I can get it working!

[2020-05-22 12:57] markusgft opened #137 "Include Octave interface"
* include a interface for logging to octave types
 * since none from the core developer team is currently able to maintain the MATLAB interface, consider removing matlab-related code entirely in a future release.
 * see also https://octave.org/doc/v5.2.0/External-Code-Interface.html

[2020-05-24 07:38] markusgft opened #138 "Linear Systems test occasionally fails in CI"
* probably some ill-formulated ASSERT
 * TODO: investigate and fix.

[2020-05-25 14:26] hmcm commented on #133
Hi @markusgft ,
I implemented the obstacle constraint from scratch and reduced the dimensions to x and y (implementation attached). To make it as simple as possible, I consider the obstacle as a unit circle and only provide the center coordinates as an input for the class constructor. However, I still get exactly the same problems. I have tried using the automatic differentiation as in the ex_NLOC

[2020-05-25 20:05] markusgft commented on #133
Hi @hmcm, could you quickly try with the following settings for the nloc solver
[code]

[2020-05-26 07:22] hmcm commented on #133
Hi @markusgft,

I tried it and still get the "minimum step length reached" flag. Anything in particular that I should pay attention to?

[2020-05-26 08:09] markusgft commented on #133
Hi @hmcm
I think we are at the point where we need to validate that it works in a setting without the differential constraint. Can you try formulating the dynamics as a second-order dynamic system, i.e. simply a moving point mass? Ideally, could you also put this in a repo that you can give me access to, so that I can jump in with debugging in case we need it?
Best
Markus

[2020-05-26 13:07] hmcm commented on #133
Hi @markusgft
I will try that, but unfortunately I won't have time before next week. Thanks a lot for the help so far and I will get back to you as soon as I have reformulated the dynamics and put it into a repo!
Best
Hannah

[2020-06-04 12:00] markusgft commented on #133
Hi @hmcm, I would still be interested in following up on your issue and debugging the problem. Did you by any chance find time to look into the modified example?
Best!

[2020-06-05 13:42] hmcm commented on #133
Hi @markusgft
I am sorry this took so long, but I had a lot going on. I tried to implement a second order system as you proposed. However, I am not sure I understood you correctly. I just implemented a point mass with four states (x, y, v_x, v_y) which is actuated with a force in x-direction and a force in y-direction. However, if I try solving the control problem for this system, the line search

[2020-06-05 17:52] markusgft commented on #133
Hi @hmcm
Thanks for sharing your repo. I took a quick look, and indeed there is some issue that I can confirm. For instance, in my case, GNMS with constraints diverges instantly. The problem has been identified, a fix is on the way.

[2020-06-10 23:10] markusgft opened #140 "LQOC solver should pass back solver return status"
LQOC solver should pass back solver return status to NLOC for better error handling. Especially important for hpipm.

[2020-06-11 06:49] markusgft commented on #133
Should be resolved by #142

[2020-06-12 12:42] #133 closed, assigned to nobody

[2020-06-18 14:16] schulz0r opened #143 "Derivatives of class LTISystem do not compile because of flawed function override"
Dear developer team,
I use Apple clang version 11.0.3 and cannot compile following code:
[code]
The reason is that the class `LTISystem` incorrectly overrides the virtual functions getDerivativeState() and getDerivativeControl() which originally stem from the parent class `LinearSystem`.
The code of `LTISystem.h` shows that the return type is `Eigen::Matrix`, but the compiler expects the types to

[2020-06-19 06:35] markusgft commented on #143
Dear @schulz0r , this had been reported in #86, too. However, at that point in time, we fixed it only for the devel-branch. Since the issue was raised again for v3.0.2, I will look into this and commit a fix as soon as I find time.

[2020-06-20 08:02] markusgft commented on #143
Please check if it works for your now!

[2020-06-20 18:56] schulz0r commented on #143
My code compiles now! Thanks for the quick response!

[2020-06-20 18:56] #143 closed, assigned to markusgft

[2020-06-22 14:05] #62 closed, assigned to markusgft

[2020-06-22 14:06] markusgft commented on #98
Dear @kvmanohar22
I was wondering if there are any further developments that could be merged back into the main repo?
If yes, please let me know! Otherwise, I will close this issue.

[2020-06-22 14:08] markusgft commented on #18
Closing, since this is stale and will most likely not be worked on.

[2020-06-22 14:08] #18 closed

[2020-06-22 14:09] markusgft commented on #17
Closing, this issue is stale and will probably not be worked on.

[2020-06-22 14:09] #17 closed

[2020-06-22 14:11] markusgft opened #146 "Add support for dynamic-size"
Currently, we only support fixed-size types. In order to simplify the creation of python bindings, we should extend the CT to also support dynamic sizes.

[2020-06-22 14:12] markusgft commented on #59
#146 is a precondition for implementing python bindings.

[2020-06-22 14:25] kvmanohar22 commented on #98
Hi @markusgft
Yes, I think this issue can be closed. I haven't had time to get back to this.

[2020-06-23 06:59] #98 closed, assigned to nobody

[2020-06-24 08:13] flamelx commented on #24
Hope to see Franka Panda's tutorial soon!

[2020-06-29 15:47] schulz0r opened #148 "Cannot find blasfeo headers because CMake does not include them despite finding blasfeo"
Dear developers,
I downloaded hpipm and blasfeo from their respective git repositories here on Github and built/installed them on my machine. When compiling the Control Toolbox with the optimal control addon, I encounter the problem that blasfeo_target.h cannot be found. **The problem could be solved** when changing line 66 in ct_optcon/CMakeLists.txt from:

`list(APPEND HPIPM_LIBS ${hpipm_LIBRARI

[2020-07-10 22:17] acxz commented on #148
I agree with this. The `_LIBRARIES` and `_INCLUDE_DIRS` variables are legacy methods of handling deps. I'll see if I can reproduce the error with the latest hpipm and blasfeo and come up with a solution.

@schulz0r Using the latest blasfeo and hpipm I was not able to reproduce this error. Can you try again and post the exact error you received? Although I don't get an error using `hpipm` and `blas

[2020-07-11 13:24] acxz commented on #148
re: python, we want to stay on a lower minimum cmake version to support legacy operating systems which is why we cannot link against the `Python:Python` target. Once we raise our min cmake version we will be sure to update that as well.

[2020-07-11 13:25] acxz commented on #148
@schulz0r if you could test out the linked PR and confirm that it resolves the issue for you that would be great. Thx for reporting.

[2020-07-13 18:00] schulz0r commented on #148
I just want to tell that I have seen your PR and I will check it out this week.

[2020-07-13 19:55] schulz0r commented on #148
I checked it out and it worked for me. Thanks a lot!

[2020-07-13 20:38] acxz commented on #148
Glad to hear!

[2020-07-14 20:43] #148 closed, assigned to nobody

[2020-07-26 04:08] sethgi opened #158 "Documentation class reference links broken"
Hello,

On the documentation site, all class reference links seem to be broken.

For example, at page: https://ethz-adrl.github.io/ct/ct_doc/doc/html/core_tut_control.html

clicking on any of the links (such as [ct::core::PIDController](https://ethz-adrl.github.io/ct/ct_doc/ct_core/doc/html/classct_1_1core_1_1PIDController.html)) gives a 404 error.

Because I couldn't find a class reference page o

[2020-07-26 07:28] markusgft commented on #158
Hi,
I can confirm the issue for cross-referencing. E.g. when you try to navigate go a class reference in ct_core while being on the ct_optcon pages, you will get a 404 error.
The following workaround worked for me (you may resort to this as long as we do not have a proper fix). Rather than clicking the link for the class reference directly, first navigate to the correct package in the main bar

<i

[2020-08-06 13:16] padhupradheep opened #159 "Problem Installing IPOPT"
Hey,

This issue is more of a suggestion!

I'm using ubuntu 18.04,

Just during the process of building the control-toolbox package (with the examples), I had a problem with the Ipopt (dependency problem). Although I used their documentation to install it, I had the error of

`/usr/include/coin/IpSmartPtr.hpp:18:4: error: #error "don't have header file for stddef"`

In order to sort the issue, I t

[2020-08-07 00:06] acxz commented on #159
Hello @padhupradheep thx for the suggestion, but it seems like you went through a roundabout way of installing `ipopt`.
`ipopt` is available in Ubuntu 18/16 as the following package `coinor-libipopt-dev`. You can install it by just running `sudo apt install coinor-libipopt-dev`. In general you should always check if your operating system offers the software through its package manager before tryin

[2020-08-07 07:19] padhupradheep commented on #159
Hey,

Sorry, I forgot to mention the` coinor-libipopt-dev` ! I initially installed the same and did not work. It had an error as follows:

`/usr/include/coin/IpSmartPtr.hpp:18:4: error: #error "don't have header file for stddef"`

And then I did a bit of research about the stddef dependency and found the same error in the [installation step of Ipopt for CasAdi](https://github.com/casadi/casadi/wik

[2020-08-07 10:20] padhupradheep opened #161 "Compiler error with Python header"
Hey,

I'm using Ubuntu 18.04. I had a problem with the Python header file. When I tried to build it I had the compiler error.

`fatal error: Python.h: No such file or directory compilation terminated.`

For the exact file details see this [PR](https://github.com/ethz-adrl/control-toolbox/pull/160/files)

Therefore I tweaked it a little bit. It did not work for python2.7 though! Had an error with s

[2020-08-07 11:35] acxz commented on #159
hmm interesting have you reported the issue to the [ipopt repo](https://github.com/coin-or/Ipopt), since it pertains to an error in that repo instead of this one? That issue should have been resolved in versions > 3.10.1 which ubunut 16 and upwards have.

Can you try to completely uninstall ipopt on your system and reinstall? I believe there might be something wrong on your system.

[2020-08-07 11:47] acxz commented on #161
@padhupradheep thx for posting an issue, but without the error message we cannot help as we cannot reproduce the issue on our systems.

Please post the error message you received.

[2020-08-07 11:49] acxz commented on #137
So I have recently become more and more entranced with [Julia](https://julialang.org/).

Considering how slow Octave is, its utility drops off significantly. I believe having a Julia wrapper would be much more powerful.

[2020-08-07 12:21] padhupradheep commented on #159
No I have not yet reported over there yet!

Did the complete re-installation process as well! But still did not work! I tried it with both 16.04 and 18.04!

[2020-08-07 12:24] acxz commented on #159
hmm do let us know what the ipopt people say

[2020-08-07 12:26] padhupradheep commented on #161
Updated!

[2020-08-07 12:28] acxz commented on #161
Do you have the `python3-dev` package installed?

[2020-08-07 12:35] padhupradheep commented on #161
Yep! I had!

[2020-08-07 12:37] padhupradheep commented on #159
Sure! I will close the issue, for now, I will just give the update in the same issue though! Thanks for your time!

[2020-08-07 12:37] #159 closed, assigned to nobody

[2020-08-13 05:01] Shantnu12345 opened #162 "How to find a feasible path given sequence of points."
Hi,

Thank you for sharing this. This is really helpful for researchers and kudos to your hard work. I am wondering if can this library be used for the following usecase and how to use it for the following usecase:

**Given a sequence of points in 2D cartesian coordinate** (each point is represented as (x,y))**, generate a feasible path** (each point in path is (x, y, yaw, steering angle)) **for a

[2020-08-22 13:45] markusgft commented on #162
Dear Shantnu,

thanks for message, and sorry for not getting back to you earlier.

I am afraid there is no out-of-the-box solution for your problem
available in the control toolbox. The problem you are describing
involves constraints that are not trivial to handle. If you want to give
the problem a shot using the control-toolbox, I would recommend you the
following strategy:

- eliminate your diff

[2020-09-04 08:28] JMQKK opened #163 "HPIPM selected but not built"

[2020-09-11 18:28] egorbarsukoff opened #164 "Case insensitive file systems"
By default, modern Apple computers are configured with a case-insensitive file system. This creates big problems when developing with the Control toolbox on this platform, because, for example, there is a `Common` file and `common` folder in `ct_core`, which cannot exist in the same folder at the same time. This means that I cannot clone this repo on my local machine. I would very much appreciate

[2020-09-15 14:41] JMQKK opened #165 "blasfeo_target.h：not such file"
I am very troubled with this problem that i can't find header file
“devel/include/ct/optcon/solver/lqp/HPIPMInterface.hpp:12:28: fatal error: blasfeo_target.h:not such file”

I try to modify the Cmakelists. txt in ct_optcon, but no effect.

[2020-09-16 05:59] markusgft commented on #164
Hi, we have had people encounter that issue before, and in fact someone had a workaround for it. It seems like this did not get posted on the issue tracker, I am digging for the solution in my old e-mails.

[2020-09-16 06:00] #162 closed, assigned to nobody

[2020-09-16 06:01] markusgft commented on #163
Close due to lack of detail.

[2020-09-16 06:01] #163 closed, assigned to nobody

[2020-09-16 06:04] markusgft commented on #165
Hi,
would you mind providing more detail about your setup? Are you sure you only have one version of blasfeo and hpipm installed?
First and foremost, we should make sure that the examples and unit tests build on your system. After installing hpipm using the convenience script `./install_hpipm`, can you try building one of the constrained examples, for instance by `catkin build ct_optcon -DBUILD_EX

[2020-09-16 06:08] markusgft commented on #164
After doing a thorough search, I can confirm there is no quick way to fix this issue and make the CT compatible with Apple Computers. Sorry! Alternatively, I can recommend you to try a virtual machine for development!

[2020-09-16 06:08] #164 closed, assigned to nobody

[2020-09-17 12:51] JMQKK commented on #165
Thank you for taking time to answer my questions
I have tried to install different versions of  blasfeo and hpipm by "cmake "
And I tried to build the example again,but  the program still couldn't find the header file "blasfeo_target.h".

[2020-09-17 13:59] markusgft commented on #165
I suppose that you might have conflicting versions of hpipm on your system. Can you please make sure that you remove all hpipm and blasfeo files/installations, and give it another try to install them using our script? You may have to check both the /opt and the /usr/local directories to eliminate all your legacy installations.

[2020-09-24 15:08] kukarkinmm commented on #165
Hi,
I've faced the same problem even after installing using your script. It seems that default installation directory of blasfeo is /opt/blasfeo instead of /usr/local/include. The solution was simply specify include directory to my target in CMake file using target_include_directories() and target_link_library() for correct linking.

[2020-09-25 05:22] JMQKK commented on #165
I copied them all to /usr/local/.Then there are not any errors.
I suoopse that "list(APPEND CMAKE_PREFIX_PATH "/opt")"didn't work.

[2020-09-25 08:23] awa152 opened #166 "Problem with code generation in RobCoGen"
I know that this isn't an issue with the control toolbox itself, but with the generation step in RobCoGen, but I don't really know where to file an issue elsewhere.

I am trying to generate the files on Ubuntu 18.04 with openjdk-8-jre installed with the compatible RobCoGen version 0.4ad.0.
When trying to generate the C++ code everything works except the generation of the coordinate Transforms and

[2020-09-25 16:09] awa152 commented on #166
After writing with Marco Frigerio he showed me that this error is due to an old bug that was fixed in the newer version of RobCoGen, but not in 0.4ad.0.
Simply removing a "/" sign from the framework.properties configuration resolved this issue, like:
generator.maxima.libs.path = ../etc/maxima-libs (do NOT use "/" at the end).

I am just writing this in case somebody else runs into the same problem

[2020-09-25 16:09] #166 closed, assigned to nobody

[2020-09-29 17:12] awa152 commented on #165
After installing blasfeo and hpipm with the script ./install_hpipm and building my workspace with catkin build I still get the error
[code]
Copying the static library folders /blasfeo and /hpipm into /usr/local didn't worked for me. When removing the QUIET option in find_package(blasfeo QUIET) in the CMakeLists.txt of ct_optcon, I get the warning
[code]
As I am fairly new to the cmake build proces

[2020-09-30 09:12] awa152 commented on #165
Using cmake as the build system for blasfeo and hpipm solved the issue and created the necessary .cmake files for the find_package() command.
[code]
Maybe an update to the installation script like the one above would be good?

When building my workspace this resulted in an issue with building ct_models with the error
[code]

Excluding ct_models from the build with a CATKIN_IGNORE resulted in a suc

[2020-09-30 23:33] JacksinU opened #167 "Infinite-horizon, discrete-time LQR"
Hello everyone. I want to obtain Infinite-horizon, discrete-time lqr gain. ct::optcon::DARE is proposed for Discrete-Time Algebraic Riccati Equation. I tried to obtain a solution using this function and then compute the lqr gain K as follows. However, it shows the error below. How could I solve this problem?
![image](https://user-images.githubusercontent.com/72172261/94834077-e89a1580-03dd-11eb-8a

[2020-10-01 00:30] JacksinU commented on #167
I find out that cppagcg is not necessary when I try LQR. The LQR is proposed for continuous systems but I'd like to know how to obtain LQR gain matrix in discrete state equation.

[2020-10-29 11:52] csufangyu opened #169 "robcogen error when generating code"
hi I get the problem,but i can not slove it.I try to 0.5.0,0.5.1,and it not usefull,could you help me?thanks very much!

[code]

[2020-10-29 12:19] csufangyu commented on #166
hi I get the problem that looks a liitle similar to yours, but I still cannot compile successfully in 0.5.1. If I enter 1, 4, the error is:
[code]
If I enter 4,the error is:
 0 - CTDSL	- The coordinate transforms description file .ctdsl

 1 - ALLMx	- [All the Maxima targets]
 2 - TMx	- Maxima coordinate transforms
 3 - JMx	- Maxima geometric Jacobians

 4 - ALLC++	- [All the C++ targets]
 5 - CC++

[2020-10-29 13:17] csufangyu commented on #169
we should enter 1,then enter 4.I cannot understand the example at https://robcogenteam.bitbucket.io/usage.html

[2020-10-29 13:17] #169 closed, assigned to nobody

[2020-10-29 14:23] csufangyu opened #170 "how to solve the python2 and python3?"
the melodic deepend on python2,but the control-toolboox deepend on python3！ I run the example `rosrun ct_optcon ex_NLOC`and I get the error

[code]

and if I change python target to python3,the  melodic con not run! so I wonder how to slove it?thanks very much!

[2020-10-29 14:54] awa152 opened #171 "Jacobian with mixed up rows?"
Hi,

I have a 7 DoF Arm and I am retrieving the jacobian from base to EE as follows:
[code]

As a result I get the following matrix print out in the terminal:
[code]
As from what I see, the Jacobian seems to be mixed up in rows. I would expect a Jacobian that results in a mapping like:

![\dot{x} =   \begin{bmatrix} \dot{x}_{lin} \\ \dot{x}_{ang} \end{bmatrix} = J \dot{q}
](https://render.githubus

[2020-10-31 09:36] markusgft commented on #171
Dear @awa152
Thanks for your interest in the CT and the detailed description of your issue!
Indeed you are completely right with your observation -- in the RBD-part of the CT, we follow the convention "orientation before position", therefore the stacked velocity vector looks like the second variant you described.
We follow the convention as used by RobCoGen, which itself follows the convention by

[2020-10-31 10:19] #161 closed, assigned to nobody

[2020-10-31 10:21] markusgft commented on #170
Hi,
I guess your issue should have been resolved by https://github.com/ethz-adrl/control-toolbox/pull/168
Please feel free to pull the latest commits and retry. Hope this helps!

[2020-10-31 10:27] markusgft commented on #169
Have you tried running it strictly sequentially?
E.g,. first 0, then press enter, then 1, press enter, then 4, press enter?

[2020-10-31 10:30] markusgft commented on #167
Hi @JacksinU
Sorry for not addressing your issue earlier.
Could you please share more details about your system? E.g. what are the dynamics that you are trying to stabilize? What are your cost function matrices?
Cheers!

[2020-10-31 10:40] csufangyu commented on #169
yes  thanks very much.   I can not understand the example on robcogen!-------- 原始邮件 --------发件人： Markus Giftthaler <notifications@github.com>日期： 2020年10月31日周六 傍晚6:28收件人： ethz-adrl/control-toolbox <control-toolbox@noreply.github.com>抄送： universe <csufangyu@163.com>, State change <state_change@noreply.github.com>主    题： Re: [ethz-adrl/control-toolbox] robcogen  error when  generating code  (#169)
Ha

[2020-11-01 00:55] JacksinU commented on #167
Hello, that's fine. I realized that increasing the maximum number can solve this problem. But it takes a lot of time to obtain the solution.

I was trying to stabilize the vehicle dynamics with preivew distance attached below and aim to minimize these four states and the input in a quadratic form.

Best!
![image](https://user-images.githubusercontent.com/72172261/97792892-dd8ffc00-1bba-11eb-8748-0

[2020-11-01 11:50] markusgft commented on #167
Hi! What exactly do you mean by "it takes a lot of time"? Seconds, Minutes?
You may also try to use the direct rather than the iterative solver, maybe that is faster in your case.
Also, did you compile with optimization?

[2020-11-01 11:50] #171 closed, assigned to nobody

[2020-11-01 11:51] #170 closed, assigned to nobody

[2020-11-01 12:21] markusgft commented on #165
Dear all, thank you for your patience. I can reproduce the issue, working on a fix as we speak.

[2020-11-01 14:30] JacksinU commented on #167
It is about 1 second. Since it runs in real time, 20ms or 30ms is accepted but 1s is too larger than expected.
Sorry, what's the " direct"? And how to complie with optimization? I just complied as mentioned in quick start.
Best.

[2020-11-01 14:59] #165 closed, assigned to nobody

[2020-11-01 16:55] markusgft commented on #167
Ah sorry, the direct solve is only available for the CARE.

But, in order to speed up your computation times, are you already employing the warm-start capability of the iterative DARE solver? This [method](https://github.com/ethz-adrl/control-toolbox/blob/af3ea074c8d067393eeda70e0dc016967be70ddc/ct_optcon/include/ct/optcon/lqr/riccati/DARE-impl.hpp#L33) returns the converged P matrix, which you ca

[2020-11-02 09:40] awa152 commented on #171
Thank you a lot for the explanation! I probably missed the part in the documentation where this was explained

[2020-11-03 07:10] Rullec opened #173 "How to linearize the system in diffrent point and solve the ARE recursively"
Hi everyone,
   Thank you for this excellent work of `control-box` and your time in this issue in advance. ;-)

# Background
- I'm working on the control of articulated characters in simulation environment, for the sake of application in computer graphic. Particularly, I am reproducing a paper from SIGGRAPH (http://grail.cs.washington.edu/projects/nqr/s2009/).
- In this paper, the author modelled

[2020-11-03 19:28] markusgft commented on #173
Dear @Rullec
Thanks for your interest in the Control Toolbox and for posting this issue. In fact, at first glance the algorithm that you sketched above looks 100%  identical to a standard sequential linear quadratic optimal control algorithm. In that case, you are right here, we have implementations of iLQR, Gauss-Newton Multiple Shooting (and others).
In fact, if you can formulate your problem in

[2020-11-04 03:00] Rullec commented on #173
Hi Markus, thanks for your helpful, and constructive help! It teaches me a lot! XD

I'm very sorry about my weak background on optimal control. There might be some wrong ideas in the following response. If it makes you feel confused or strange, please point it out directly! And I will make it more clear ;)

- About the control algo: Under your guidence, just now I studyed the `iLQR` and `Gauss-New

[2020-11-04 06:10] markusgft commented on #173
Hi @Rullec,
my bad, that was a typo -- of course I meant "of" instead of "if" (also corrected above). So what I meant is that those algorithms are implemented in the CT.
To your second question: yes you can do this! Due to the CTs modularity, it should be straight-forward to pick only those algorithms and headers for your use-case, that you really need.
Best

[2020-11-04 06:59] Rullec commented on #173
Thanks for your help, I will try to implement it now!

[2020-11-06 15:50] JacksinU commented on #167
Sorry for the delayed reply. I have already used this function to solve the problem and employ it in every control loop. But how to warm start the solver exactly?
![computeSteadyStateRiccatiMatrix](https://user-images.githubusercontent.com/72172261/98385796-65439380-201d-11eb-974d-8075fd536a3f.png)

[2020-11-08 07:20] markusgft commented on #167
@JacksinU, there is a second version of "computeSteadyStateRiccatiMatrix", which is linked in my last post. That version takes the P from the previous solve as additional input argument and uses is as warm-start. So all you have to do is to book-keep your latest P and use it in the next iteration for the warm start. Does that work for you?

[2020-11-08 18:01] JacksinU commented on #167
It seems that it doesn't make a big difference even if the warm start is adopted. I store the P as a global metrix and compute it as follows.
![image](https://user-images.githubusercontent.com/72172261/98472602-2864d180-21c2-11eb-8fbf-dea956fdf9d9.png)

[2020-11-08 18:03] markusgft commented on #167
No, the way you posted above is a local variable, of course that will not
work!

On Sun, Nov 8, 2020, 19:01 JacksinU <notifications@github.com> wrote:

[2020-11-08 18:09] JacksinU commented on #167
Sorry, I didn't post the whole figure. The matrix is indeed claried at the beginning of the file.
![image](https://user-images.githubusercontent.com/72172261/98474450-5ac2fe80-21c3-11eb-984e-df87ad0ec348.png)

[2020-11-08 18:26] markusgft commented on #167
You still write in a temporary local P , not the global P. The temporary
overrides the global. Just remove the redeclaration within the curly
brackets!

On Sun, Nov 8, 2020, 19:09 JacksinU <notifications@github.com> wrote:

[2020-11-08 19:22] JacksinU commented on #167
Oh, thanks. It works and runs faster with the warm start. It can reach 18hz now but could it achieve 30hz?

[2020-11-08 19:34] markusgft commented on #167
One possibility would be to limit the number of iterations / simply allow for a larger tolerance, e.g. 1e-5. Cheers and good luck!

[2020-11-10 20:03] #167 closed, assigned to nobody

[2020-11-10 20:03] #173 closed, assigned to nobody

[2020-11-18 12:27] awa152 opened #174 "Updating the reference state in a mpc routine"
So far I am loading IntermediateCost and FinalCost with constant reference/desired states x_des from a .info file. The Endeffector of my manipulator moves in the desired reference.
Now I am trying to change the reference state in my mpc loop, doing the following
[code]
where x_des is the new desired reference state. When I print out the new reference with
[code]
I see, that the reference state ind

[2020-11-20 09:13] awa152 opened #175 "Influencing the starting states for every integrator iteration"
I created the following simplified second order system, inheriting from the ControlledSystem Class:

<img src=
"https://render.githubusercontent.com/render/math?math=%5Cdisplaystyle+%5Cbegin%7Balign%2A%7D%0A%5Cddot%7Bq%7D+%3D+M%5E%7B-1%7D%28q%29+%5Ccdot+J%5E%7BT%7D%28q%29+%5Ccdot+control%0A%5Cend%7Balign%2A%7D%0A"
alt="\begin{align*}
\ddot{q} = M^{-1}(q) \cdot J^{T}(q) \cdot control
\end{align*}
"

[2020-11-21 08:07] markusgft commented on #175
Hi @awa152
In order to do that, you need to adopt a nonlinear state-space formulation, with a stacked vector of first and second derivative on the left hand side of the equation. See also https://en.wikipedia.org/wiki/State-space_representation
Then you can choose whatever combination of initial position and velocity you like.

[2020-11-21 08:39] markusgft commented on #174
This can have multiple causes, and we need more info to debug.
 * what is the size of the cost function instances vector? Are you using a multi-threaded version? Then you need to iterate over all instances of the cost functions vector and change the reference everywhere
 * do you have a cost associated with that reference? Maybe your penalty matrix is zero - that would also explain the behaviour.

[2020-11-23 06:14] awa152 commented on #175
Thank you @markusgft for your fast response! My explanation might have been misleading. What I have implemented is the following:
[code]
where the states 0-6 correspond to the position and 7-13 to the velocity and ddq is the calculated acceleration as per formula above. This is the nonlinear state space representation that you mentioned and I can easily set any desired initial conditions for this

[2020-11-23 06:14] #175 closed, assigned to nobody

[2020-11-23 14:16] awa152 commented on #174
Well, I tried to run the MPC in an endless loop without changing the mpc_mode in the mpc_settings from FIXED_FINAL_TIME to CONSTANT_RECEDING_HORIZON. After I changed that, the new reference got updated as expected.

To the first point you mentioned, I used one Thread, but to support multi-threaded versions I updated the code to
[code]

[2020-11-23 14:16] #174 closed, assigned to nobody

[2020-11-27 16:34] agutte opened #176 "Build Error for ct_models"
Hi,

I'm using Ubuntu 18.04 LTS. When I try to build the control-toolbox with catkin i get the following Error messages:

[code]

To the best of my knowledge I installed all dependencies needed. Do you have an idea what the problem might be?

[2020-11-27 20:28] markusgft commented on #176
Hi @agutte,
thanks for reporting your issue. I have not seen it before.
Could you simply try adding the include

[code]
to the file `ct/core/internal/autodiff/CppadParallel.h`?

A long shot...another guess would be that you have a second (oder, probably incompatible) version of CppAD installed on your system, which gets found by cmake and causes that error... could you verify that this is not the

[2020-11-30 10:45] agutte commented on #176
Hi @markusgft,
thanks for your quick reply!

Including <map> was not solving the problem, as similar error messages raised as a consequence . However, it led me to another error with the CppAD package, as you were suspecting.

After a bit of trouble installing the latest version, I just reinstalled CppAD and the build of the control-toolbox succeeded.
Thanks for your help!

[2020-11-30 10:45] #176 closed, assigned to nobody

[2020-11-30 19:27] awa152 opened #177 "Constraining the acceleration in a second order system"
When defining a second order system in the CT, where I compute the acceleration based on position and velocity, I define position and velocity as states. When solving an optimal control problem for such a system, the states can be easily constrained and also retrieved for plotting. I was wondering if the same goes for the acceleration.
I know I could get the acceleration with the resulting traject

[2020-12-11 10:25] awa152 opened #178 "Using ct_rbd Kinematics classes with SCALAR type"
I created a custom System of my Robot using the Dynamics and Kinematics wrappers that ct_rbd provides.
I am retrieving the Jacobian matrix using:
[code]
and the inverse of the inertia matrix using
[code]
So far I was using the `ct::core::SystemLinearizer` and everything worked well. Now I am trying to switch to `ct::core::ADCodegenLinearizer` and I get the following error when compiling:
[code]
Co

[2020-12-11 16:24] awa152 commented on #178
So far I got to the point, where
[code]
seems to give me the properly templated Jacobian.
As for the inertia Matrix
[code]
seems to work as well, but ass soon as I comment out the line `M.computeL();` I end up with a new error message:
[code]

[2020-12-15 16:41] awa152 commented on #178
As stated in the error message, the problem seems to be the use of the function `std::sqrt()` with the CppAD Type in the file `jsim.impl.h` which was generated by RobCoGen. I think that there is probably a proper way of using the function right. The way I made it work now is exchanging every occurrence of `std::sqrt()` in `jsim.impl.h` with `CppAD::sqrt()`.
I thought that I may loose backwards com

[2020-12-15 16:45] awa152 commented on #109
That helped a lot, thanks!

[2021-01-02 22:54] EpicDuckPotato opened #179 "robcogen JacomaxConfigurationException"
Hi,

I used urdf2robcogen to create kindsl and dtdsl files from a urdf, and now I'm trying to generate c++ code from these files. However, I get the following error:

Exception in thread "main" uk.ac.ed.ph.jacomax.JacomaxConfigurationException: Could not obtain a MaximaConfiguration after attempting configuration methods [PROPERTIES_SEARCH, AUTO]
at uk.ac.ed.ph.jacomax.JacomaxSimpleConfigurator.co

[2021-01-03 16:14] markusgft commented on #179
Dear Anoop,
it looks like there is a problem with maxima. Do you have maxima installed on your system?
$ sudo apt-get install maxima
Also, are you sure you are exporting all maxima targets in the first place? typically you need to create all maxima targets before creating the C++ targets.
Are you using the AD-compatible version of robcogen?

[2021-01-03 21:21] EpicDuckPotato commented on #179
Thanks for the response! Turns out that I just needed to install maxima, and I could generate code without errors with robcogen-0.5.2. Will I be able to use 0.5.2's automatic differentiation capabilities with control-toolbox?

The documentation (https://ethz-adrl.github.io/ct/ct_doc/doc/html/rbd_tut_modelling.html) recommends robcogen-0.4ad.0, and if I use that, I get the following error:

Excepti

[2021-01-12 14:57] awa152 commented on #179
The NullpointerException when using 0.4ad.0 was addressed in issue https://github.com/ethz-adrl/control-toolbox/issues/166

Simply removing a "/" sign from the framework.properties configuration resolves the issue, like:
generator.maxima.libs.path = ../etc/maxima-libs (do NOT use "/" at the end).

[2021-01-12 20:42] EpicDuckPotato commented on #179
This worked, thanks!

[2021-01-12 20:42] #179 closed, assigned to nobody

[2021-01-13 09:01] dookei opened #180 "UAV/Drone MPC path traking controller example"
Hi there, I would lov to use this package in a Drone/UAV simulation under ROS. Like shown in the demonstration videos.  Could anyone please give me some guidance where I should start?
What actuators should be controlled( position or velocity or acceleration or Roll, pitch, Yaw?)
The basic theory behind MPC I believe I got it(at least I like to think so ;-).

[2021-01-13 09:06] awa152 commented on #177
I am still curious if there is a way to achieve this. I have implemented the system as follows:
[code]
where ddq are my joint accelerations that get computed with forward dynamics and then being integrated twice by the methods provided with the control toolbox. Setting upper and lower bounds for the states 0-13 in the statevector is easily achieved following the example:

https://ethz-adrl.github.

[2021-01-16 16:38] markusgft commented on #177
Hi @awa152,

constrainting the acceleration is very straightforward if you define your system as a simple double-integrator, as you do in your above code example. Using the constrained LQ-solver HPIPM, you can define a box-constraint for the control input. Since the control input is the acceleration, you can box-constrain acceleration.
You should be able to directly derive that from https://ethz-a

[2021-01-16 16:41] markusgft commented on #180
Hi @dookei,
I would recommend you to start by looking at the following example that we provide it ct_ros, see https://github.com/ethz-adrl/ct_ros/blob/master/ct_ros_nodes/examples/Quadrotor/QuadrotorNLOC.cpp
This performs trajectory optimization for a quadrotor. From there, it should be relatively easy to go for unconstrained MPC, by running iLQR or GNMs iteratively.
Best!

[2021-01-18 09:59] dookei commented on #180
Hi @markusgft , thank you very much for your prompt reply.  I will look into it and try it out.

[2021-01-18 09:59] #180 closed, assigned to nobody

[2021-01-18 15:56] awa152 commented on #177
Thank you for your answer @markusgft,

unfortunately my control input isn't ddq, but a six dimensional force vector. The simplified forward dynamics I am using for my system to compute ddq is: ddq = M⁻1 * J^T * control. I would like to keep the force vector as input, so I am probably bound to use a general nonlinear inequality constraint. Is there an example file where such a constraint is impleme

[2021-01-23 12:22] rokasgie opened #181 "Using FHDTLQR for trajectory tracking"
I have been trying to use the FHDTLQR for trajectory tracking but I was not able to find any examples or tutorials on that. Is there any material available? Also, would there be a way of using box constraints in such a problem?

[2021-01-25 13:26] markusgft commented on #177
Yes, there are corresponding examples in ct/optcon, ex_NLOC_general_constrained.cpp
But please be aware that this is a disadvantageous formulation what you are aiming for, since all your system nonlinearity will be reflected in the general constraint.
If you are interested in making your solution straight-forward and more robust, I would recommend to opt for acceleration as control input, use the

[2021-01-25 13:30] markusgft commented on #181
Dear @rokasgie
Thanks for your interest in this toolbox.
No, unfortunately we currently do not have a unit test or example for the finite horizon time-varying LQR.
There is an example for the infinite horizon LQR controller, see ct_optcon/examples/LQR.cpp
The use of the time-varying version would be similar, you only have to provide trajectories of states, controls, and A & B matrices to the desig

[2021-01-27 09:56] awa152 commented on #177
Thank you very much for your answer @markusgft,
I tried using the acceleration as input and it works just fine! You were right, going down the complex route and using general nonlinear constraints is probably not the smartest idea if there is an easier solution to this.

I think I can close the issue now. Thanks for helping!

[2021-01-27 09:56] #177 closed, assigned to nobody

[2021-01-27 18:10] awa152 opened #182 "Terminal Constraints and Soft Constraints"
Hi, I have just a few general question about the control toolbox.

1. In MPC theory the use of terminal constraints is quite common, where the state at the end of the prediction horizon should be constraint to an output admissible set Xf. I see that the ct has a TerminalConstraint.h term, but it seems this is limited to an equality constraint for the state. Does the ct provide the possibility to c

[2021-01-27 20:15] markusgft commented on #182
Hi, yes, we support terminal box and general terminal contraints. Their use is analoguous to the intermediate constraints in the examples that we discussed earlier.
We currently only support hard constraints, soft constraints are theoretically exposed in hpipm, but not interfaced to the CT!
Best

[2021-02-02 18:52] awa152 commented on #182
Thank you @markusgft

and what about flexibility in cost function definitions?

So far I create two `ct::optcon::TermQuadratic` terms, which define intermediate and final cost for my MPC. Then I create a `ct::optcon::CostFunctionAnalytical` object, where I add those terms. Basically the same cost function configuration as in the example: https://ethz-adrl.github.io/ct/ct_doc/doc/html/optcon_tut_nl

[2021-02-03 03:12] BarzinM opened #183 "building other examples"
Hi, sorry if this question is too basic. How can I build other ct_optcon examples such as `control-toolbox/ct_optcon/examples/NLOC_MPC.cpp`?
When I build the project, it automatically builds `ex_NLOC_boxConstrained` and `ex_NLOC_generalConstrained` but other examples files such as NLOC_MPC don't get built.
I'm *not* using catkin system.

[2021-02-03 14:57] awa152 commented on #182
Hi,

I think I slowly get the gist of it. To implement a custom costfunction term as I stated above, I have to derive from the `TermBase class`. What I am trying to do with the orientation error, you basically already defined in the costfunction term in the `rgb module`:
https://github.com/ethz-adrl/control-toolbox/blob/v3.0.2/ct_rbd/include/ct/rbd/robot/costfunction/TermTaskspaceGeometricJacobian

[2021-02-03 17:15] awa152 commented on #182
The solution to this was using a `std::dynamic_pointer_cast` so the pointer to `TermBase` is set to a pointer to my custom term `CustomTermTaskspaceGeometricJacobian`. The update now looks like this
[code]

In my `CustomTermTaskspaceGeometricJacobian` class I also had to make following changes:
[code]
inside the `evaluate`, `stateDerivative` and `stateSecondDerivative` methods, as I am using my cu

[2021-02-03 17:15] #182 closed, assigned to nobody

[2021-02-08 07:22] awa152 opened #184 "Control Horizon"
I am just interested if there is a possibility to specify a control horizon, where the last control value calculated is hold constant for the rest of the prediction horizon. To my knowledge so far the implementation makes the assumption that:
control horizon = prediction horizon

Best

[2021-02-08 20:42] markusgft commented on #183
Hi, probably you need to build with `-DBUILD_EXAMPLES=true` !

[2021-02-08 20:44] markusgft commented on #184
Yes you are correct, that is the assumption. If you really wanted to implement your above mentioned feature, you could modify the code such that the last control command gets "held" for a longer time. I doubt, however, that the benefit will be large.

[2021-02-09 12:00] awa152 commented on #184
Thank you for the fast answer! I was just interested if this possibility exists, as it seems that this is also a quite common thing to do.

[2021-02-09 12:00] #184 closed, assigned to nobody

[2021-02-10 21:16] rokasgie commented on #165
I am still receiving the error
[code]
after having installed HPIPM and blasfeo with the provided installation script. The only solution that worked for me was to add

[code]
to CMakeLists.txt under ct_models but then when I try to use the HPIPMInterface in my code it says that it hadn't been built:

[code]
I am building the toolbox using the ct/build_ct.sh script

@markusgft

[2021-02-12 01:41] justinberi commented on #183
Hi,
I was following the [QuickStart](https://github.com/ethz-adrl/control-toolbox/wiki/Quickstart) instructions at head e7a29a6 and using catkin tools and running with `-DBUILD_EXAMPLES=true`.
For me `ex_NLOC_boxConstrained` and `ex_NLOC` are not built.

For `ex_NLOC_boxConstrained` not building.
HPIPM was not installed automagically. I had to run `ct/install_hpimp.sh`.
Running that script fixed t

[2021-02-17 13:47] awa152 opened #185 "Finding feasible EE position with custom cost term"
Hi,

my goal is to find an endeffector position, which is feasible and as close as possible to the target position.

I am wondering, if the results I get are due to a wrong implementation of my cost term or if it is due to the non-linearity of the forwards-kinematics or even solver specific. If I at least could exclude the first, that would help.

So basically I am trying to solve the inverse kine

[2021-02-24 01:01] BarzinM commented on #183
yes, thanks

[2021-02-24 01:01] #183 closed, assigned to nobody

[2021-02-25 13:18] awa152 opened #186 "Stopping solver when total cost is below certain threshold"
I am encountering some interesting behavior, when solving my problem in an receding horizon MPC routine.
When I update a new target pose, the first solution with GNMS takes 4 iterations and is shown below.
For that I set printSummary and debugPrint to true.

[code]

When the new target is reached the iterations basically look like the one below, which take 2 iterations to converge.
The total cost

[2021-02-25 19:55] markusgft commented on #186
Hi, my recommendation is to run only a single iteration in every mpc cycle!

[2021-02-26 09:37] awa152 commented on #186
Hi @markusgft,
thank you for the fast answer. If we don't consider the computational effort for a moment, wouldn't be a single iteration to little for the solver to come close to an optimal solution?

Also I noticed that despite giving the MPC class a NLOptConSettings instance with a max_iterations count of greater than one, it always seems to make only a single iteration. At least it always print

[2021-02-26 10:01] markusgft commented on #186
Doing only iteration is a very Standard approach in MPC. You can use the additional bandwidth to send controller updates more frequently

[2021-02-26 13:28] awa152 commented on #186
Thank you for the input @markusgft

[2021-02-26 13:28] #186 closed, assigned to nobody

[2021-03-14 13:07] huakang402 opened #187 "Test HPIPM solver failed"
Hello!
I encountered the following problem when using HPIPM solver to solve a constrained system, but I ran the example (NLOC_boxConstrained.cpp) successfully.

![11111](https://user-images.githubusercontent.com/60544760/111069461-20b69000-8508-11eb-8836-33ee33b7e10f.png)

[2021-03-14 14:12] markusgft commented on #187
Hi, you are likely on the wrong version of hpipm.
Did you use the provided install script in ct/ ?
Best

[2021-03-16 11:32] huakang402 commented on #187
I reinstalled hpipm using the script in ct, and the problem was solved.
Thank you very much!

[2021-03-16 22:00] sentry5588 commented on #27
In an effort of helping resolving this issue. I noticed that there is Test for `DiscreteArray` and `DiscreteTrajectory`. But there is no Test for `DiscreteTrajectoryBase`.
Is this the reason that this bug was not discovered before? Should DiscreteTrajectoryBaseTest.cpp be created?

[2021-03-17 06:13] markusgft commented on #27
Hi, thanks for raising this.
In fact, the CT as it is now has generally little test coverage.
This is one of the main drawbacks of the library. If you like you can create the test, but it is not critical. Best!

[2021-03-21 04:14] sentry5588 commented on #27
Thank you @markusgft . I was creating the unit test for `DiscreteTrajectoryBase`, and realized that `ct_core/test/DiscreteTrajectoryTest.cpp` is actually testing `DiscreteTrajectoryBase`. Because
[code]
The `StateTrajectory` is a derived class from DiscreteTrajectoryBase.
My question, should `DiscreteTrajectoryTest.cpp` be renamed as `DiscreteTrajectoryBaseTest.cpp`?
Thank you.

[2021-03-21 04:47] sentry5588 commented on #27
I'm about to create a test case to produce a situation of this bug, and I realized that `tpl::TimeArray<SCALAR>` has a length of a minimum of 2. It doesn't seem possible that `time` could be empty. But I believe from the unit test point of view, the unit shall cover that. Could you please clarify? Thanks.

[2021-03-28 23:35] vvrs opened #188 "ct_core build is failing"
I have `control-toolbox` and `kindr` modules in `src`, when did `catkin build -DCMAKE_BUILD_TYPE=Release` the build is failing with the following error.

[code]

Any help resolving this issue is much appreciated.

[2021-03-30 15:38] awa152 opened #189 "control input parametrization"
Hi, just a quick question from my side.
The default control input parametrization is zero order-hold (assumption of constant control input between two discrete control steps), is there a way to switch to a linear parametrization?

Best regards

[2021-03-30 16:39] markusgft commented on #189
Depends on the solver. Ilqr and gnms only support zoh.
The Independent Direct Multiple shooting solver, which is also available in the ct, also supports pwl.

[2021-03-31 14:05] awa152 commented on #189
Thank you for the fast response!

[2021-03-31 14:05] #189 closed, assigned to nobody

[2021-03-31 15:31] awa152 opened #190 "TermTaskspaceGeometricJacobian"
I have a few questions regarding the Taskspace costfunction term you provide in the rbd module:
https://github.com/ethz-adrl/control-toolbox/blob/v3.0.2/ct_rbd/include/ct/rbd/robot/costfunction/TermTaskspaceGeometricJacobian.hpp
especially concerning the analytical derivatives.

1. In the `stateDerivative` method you use the geometric Jacobian to get the gradient. For the position part it seems cl

[2021-04-01 08:45] omersahintas opened #191 "Hessian sparsity pattern of DerivativesCppad"
Thanks for developing this great toolbox! Besides its control functionalities, by utilizing eigen, cppad and cppadcg, the library serves as a perfect NLP framework!

I use the toolbox to solve an NLP. So far, I have inherited the `DiscreteCostEvaluatorBase` and `DiscreteConstraintBase` classes and filled the required values by calling `DerivativesCppadJIT`. As the next step, I wanted to do the sam

[2021-04-05 06:28] markusgft commented on #190
Hi @awa152, yes, this term is going to fail if the Jacobian is singular, therefore it is not optimal to use it. You could consider adding some [Tikhonov ](https://en.wikipedia.org/wiki/Tikhonov_regularization) style regularization scheme to this term, if you wanted.
In general I would recommend you building your own, proper task-space cost function term, since the one here is only experimental. Yo

[2021-04-05 06:30] markusgft commented on #27
Thanks for raising the issue. I believe that someone needs to take a more detailed look and check what is really going on. I currently have no time to reproduce the failures, unfortunately.

[2021-04-05 06:31] markusgft commented on #188
Very likely you have the wrong versions of cppad and cppad-cg installed. Please check out the versions provided in the install script!

[2021-04-05 06:32] #187 closed, assigned to nobody

[2021-04-05 06:42] markusgft commented on #185
Dear @awa152
nice video! I believe in principle we are facing the same problem here and in the other issue you opened.
In principle, the problem is ill conditioned in singularities, you may be seeing this effect here. But without analysing the morphology of your robot, it is hard to say if you are in fact hitting a singularity or not!

[2021-04-05 06:43] #181 closed, assigned to nobody

[2021-04-07 02:26] vvrs commented on #188
Thanks for the respose. That worked.

[2021-04-07 02:26] #188 closed, assigned to nobody

[2021-04-12 17:51] KeranYe opened #192 "Will this package work on ubuntu 20.04 with ROS Noetic?"

[2021-04-12 18:16] markusgft commented on #192
This has not been tested yet! It is likely that it will work, possibly with very minor issues which should be easy to resolve.

[2021-04-12 23:18] #192 closed, assigned to nobody

[2021-05-10 07:15] Nickick-ICRS opened #193 "RobCoGen unexpected number of elements in matrix + J"
Hi! I've hit a problem trying to generate the RobCoGen files. At first I got everything to generate fine, but I was using 0.5.2, which caused issues as the tpl namespace didn't exist.

Switching to the expected 0.4ad.0 and readjusting config parameters (including the fix in issue #166 ), I can generate everything except the Jacobians. This issue persists whether I try to generate full Jacobians fr

[2021-05-19 12:38] csufangyu commented on #193
I get the same  problem,have you solved it?

[2021-05-25 13:36] csufangyu opened #194 "Can you share some control_tool in robotics?"
Hi,I have read all tutorials at [documentation](https://ethz-adrl.github.io/ct/ct_doc/doc/html/pages.html) and examples in project,such as [rbd_example](https://github.com/ethz-adrl/control-toolbox/tree/v3.0.2/ct_rbd/test/robot) I find there not tutorials about robotics in optcon.

 Can you share some tutorials about robotics in optcon? Thanks very much!

[2021-07-04 08:48] mustang66ytz opened #196 "RobCoGen can generate all cpp files except for jacobians for kinova 6 axis robot"
When I was following the instructions to generate cpp code for Kinova 6-axis robot, it always fails when generating the jacobians.cpp.

I wander is this caused by the long processing time? If so, where should I change the Maxima timeout parameter and give it a try?

I would be very thankful to any suggestions because I have been stuck here for quite a while haha!

Best regards

[2021-07-05 08:18] markusgft commented on #196
Hi, in the version of robcogen that we are using in the CT, robcogen should generate the -impl headers rather than *.cpp files. Are you sure you are using the linked version of robcogen, please dont use the current main version. In case of further problems, I would recommend reaching out to the developer of robcogen, Marco Frigerio.

[2021-07-05 08:20] markusgft commented on #194
Please take a look at https://github.com/ethz-adrl/ct_ros, hope this helps!

[2021-07-05 12:05] csufangyu commented on #194
Thanks very much for your reply. Although you are very busy at google, you are still maintaining this project and helping us. Thank you very much for your contribution,again!

[2021-07-05 12:06] #194 closed, assigned to nobody

[2021-07-06 12:28] mustang66ytz commented on #196
Hi, thanks for your advice!!
I followed the RobCoGen official tutorial and used the RobCoGen-0.5.2 version, could I know what is the "linked version" that you are referring to?
Best regards

[2021-07-06 17:25] markusgft commented on #196
https://bitbucket.org/robcogenteam/robcogen-downloads/downloads/robcogen-0.4ad.0.zip

[2021-07-13 07:48] Junhyung-Kim opened #197 "how to model the general constaint of MPC"
I want to model the general constraint of MPC.

If I model the mpc constraint,
f(x,n) <= ub (n is step time of mpc)

When programming a general constraint,
is t entered as an argument of the evaluate function the same as the step time n of MPC?

[2021-07-25 12:18] Daniel-Ming opened #198 "Is this Control-toolbox package take lagged states and control inputs into consideration when calculating the derivative/Jacobian?"
Is this ct package take lagged state and control input into consideration when calculating the derivative/Jacobian? Because our system ODE has 15 lag sizes for state and control input, I'm unsure whether this package can be used to simulate our system model.

[2021-07-25 13:51] markusgft commented on #198
Hi, thanks for the interest in the CT!
Could you please detail what you exactly mean with „lagged state“? Best

[2021-07-26 00:02] Daniel-Ming commented on #198
Our system model is a NARX type model which updates the system states depends on all previous 15 steps ago states and control inputs. According to the tutorial documentation in the Derivative/Jacobian session, the control-toolbox seems capable of handling the general ODE, which updates the system state depending on the previous 1 step ago state and control input.

[2021-07-26 05:01] markusgft commented on #198
True, if you cannot rewrite your system as ODE, we cannot handle it!

[2021-07-26 09:42] mustang66ytz opened #199 "Unable to build the catkin package with code generated by RobCoGen"
I am following the tutorial on "[how to model a rigid body dynamics system ](https://ethz-adrl.github.io/ct/ct_doc/doc/html/rbd_tut_modelling.html)"

I have created a ros package (in the same workspace with ct packages) with MyRobot.h, all the generated code in include/generated directory and simple_test.cpp files to make sure the generated code can be used correctly, but when building this packag

[2021-07-27 02:45] mustang66ytz commented on #196
@markusgft It turns out that since my urdf model consists of multiple links, whose centers of mass have translation and orientation offset relative to their parent links. Therefore, the kindsl format model converted from the urdf format model generate a few more intermediate link frames on top of the original number of links, which results in a kinematic chain too long to be properly handled by Ma

[2021-07-27 09:42] mustang66ytz commented on #199
I finally figured out it is I did not install cppadcg, and I did not `include <ct/rbd/rbd.h>` before `include <ct/models/my_robot/MyRobot.h>`
Fixed these two issues fix the issue.

[2021-07-27 09:42] #199 closed, assigned to nobody

[2021-07-27 15:39] JuliusSustarevas commented on #193
I have a similar error, but its in matrix + trigsimp.

[2021-07-28 13:38] mustang66ytz opened #200 "Fancy robot model generated code cannot instantiate a corresponding system"
I am following the ct rbd tutorial to generate code for Fancy robot, whose .kindsl and .tdtsl files are provided in the robcogen.
When I am instantiating my robot system with this line of code: `std::shared_ptr<MyRobotNonLinearSystem> myrobot(new MyRobotNonLinearSystem());`, I got the following errors:

MyRobot.h file is like this:
[code]

Since I am using the Fancy model provided by the RobCoGen,

[2021-07-29 04:24] mustang66ytz opened #201 "Failed to generate .kindsl model from the .urdf models provided"
Hi,
I just wondered are the .urdf models provided in the control_toolbox/ct_models/urdf/ directory can be converted to .kindsl models successfully by using the urdf2robcogen ros package? I have tried both the irb4600 model and quadrotor with load model, but neither works successfully.

The error code is like the following:
[code]

Thanks for any suggestions

[2021-07-29 05:26] markusgft commented on #201
Hi,
I have not used urdf2robcogen in a really long time, it may well be that it is not supporting those urdfs (anymore).
I would consider it unmaintained, in doubt you could try contacting the developers!
Best

[2021-07-29 05:31] markusgft commented on #193
How many joints does the robot have?

[2021-07-29 05:42] mustang66ytz commented on #201
Cool, thanks very much!

[2021-07-29 07:51] JuliusSustarevas commented on #193
More than 6 :) was using wrong description, my bad. Ended up generating
fine.

On Thu, Jul 29, 2021, 06:31 Markus Giftthaler ***@***.***>
wrote:

[2021-08-01 11:19] Ravenwater opened #202 "Status of the overall project"
Given the note regarding this repo being sparsely maintained, two questions:

- has this repo reached its EOL?
- has development moved to another library that is used for next-gen robot R&D?

We are working on hardware acceleration of MPC to make it applicable to very high-frequency control loops and want to make certain that this is an active research community before we invest in contributing to

[2021-08-02 05:49] markusgft commented on #202
Hi, we occasionally fix bugs or fill in small new features. Major Development is currently not happening. The repo is sparsely maintained, but can serve you as inspiration!

[2021-08-02 10:53] Ravenwater commented on #202
@markusgft thank you for the guidance. For hw accelerated MPC co-development, where/who/what should we be connecting to?

[2021-08-02 20:21] markusgft commented on #202
From our side, we currently unfortunately cannot support you in detail regarding this feature request. Contributions in this direction would of course always be welcome!

[2021-08-07 14:48] MartinKoch123 opened #203 "Cloning and extracting zip fails"
Hi,

when cloning I get this error:

![grafik](https://user-images.githubusercontent.com/61880738/128604032-60139824-82e8-40ca-b8c1-8735dd96f6a2.png)

When downloading and extracting the zip file I get this error:

![grafik](https://user-images.githubusercontent.com/61880738/128604051-ec923ceb-975e-42ce-9a80-38437d274552.png)

Is this some kind of Linux/Windows issue? I'm using Windows.

Thanks an

[2021-08-07 16:50] markusgft commented on #203
Hi, this is likely because of windows file system incompatibility with the CT
We have never tested this on windows and only support Ubuntu 18.04, and 20.04
Best

[2021-08-07 18:44] MartinKoch123 commented on #203
Okay, thank you for the quick reply.

[2021-08-08 00:19] Zcyyy opened #204 "matplotlib import error"
Error occurs when I run the “rosrun ct_core plotTest” command.
[code]
I have tried some methods，but There is no effect.

[2021-08-08 05:37] markusgft commented on #204
Likely some version mismatch!

[2021-08-08 23:25] Zcyyy commented on #204
@markusgft Thanks a lot. I run it successful when i change matplotlib version.

[2021-08-08 23:26] #204 closed

[2021-08-27 12:20] EpicDuckPotato opened #205 "Building Examples with catkin"
I tried using the catkin instructions here to build the examples: https://ethz-adrl.github.io/ct/ct_doc/doc/html/install_guide.html#build

When I try to run

`rosrun ct_optcon ex_NLOC,`

I get the error

`[rosrun] Couldn't find executable named ex_NLOC below /home/noopygbhat/catkin_ws/src/control-toolbox/ct_optcon`

Thoughts?

[2021-08-27 20:32] EpicDuckPotato opened #206 "Can I define an end-effector on my base link?"
I have a robot with thrusters, so I want to use EE_ARE_CONTROL_INPUTS with FloatingBaseFDSystem, and define the thruster frames as end-effectors. However, some of the thrusters are on the base link, and I don't think RobCoGen generates Jacobians between frames on the same link. Therefore, I get a compilation error when I try to define an end-effector on the base link saying the Jacobian between th

[2021-09-01 04:28] NishanthARao opened #207 "Clarity regarding MPC tutorial example NLOC_MPC"
I have a custom non-linear system that I have described in a separate ```.hpp``` file using the ```ControlledSystem``` class. I want to design an NMPC controller for it. I had a few doubts regarding the standard MPC example given on the [tutorials page.](https://ethz-adrl.github.io/ct/ct_doc/doc/html/optcon_tut_mpc.html).

1) The state ```x0``` is being initialized randomly and then multiplied by

[2021-09-06 11:26] Nitishg96 commented on #205
Did you solved this error? I am also having this error. I have some findings that might be helpful.

When you run `catkin build -DCMAKE_BUILD_TYPE=Release -DBUILD_EXAMPLES=true`

You will have warning that `Could not find HPIPM or BLASFEO` and that is why optcon examples are not building because it depends on blasfeo.
My problem is, I have tried to install all the packages of HPIPM and BLASFEO but

[2021-10-06 14:22] rubengrandia commented on #207
Hi,
I have been out of this code base for a while, but looking at the example you mention I have a few comments that might help you on your way.

1. I agree with you that it would be more realistic to set here some x_meas = x + noise. Currently it just sets a random state variable. Either way, for the other iterations (i >0), you would typically need to implement some forward simulation (+ state e

[2021-10-06 14:48] NishanthARao commented on #207
@rubengrandia Thanks a lot for your response. I figured out the MPC_MODES and how to use them, but I wasn't sure of my method and how I was using it. Thanks a lot for confirming these modes.

[2021-10-06 14:48] #207 closed, assigned to nobody

[2021-10-31 07:58] abczhou123 opened #208 "Can I use it for a hexapod robot"
Can I use it for a hexapod robot

[2021-10-31 09:22] markusgft commented on #208
No, unfortunately not out of the box.

[2021-11-29 23:13] NisharnSP commented on #204
what matplotlib version did you use?

[2022-03-03 10:37] joaobrittoneto opened #209 "Documentation of ct_core"
It seems that the links pointing to ct_core is wrong in the [overview page](https://ethz-adrl.github.io/ct/ct_doc/doc/html/index.html#ct_core_overview).
It points to the unavailable https://ethz-adrl.github.io/ct/ct_doc/ct_core/doc/html/classct_1_1core_1_1PIDController.html
The link https://ethz-adrl.github.io/ct/ct_core/doc/html/classct_1_1core_1_1PIDController.html, without `/ct_doc` is working

[2022-03-07 09:56] C1009919253 opened #210 "How to add MPC as a member in a class?"
For example, I want to add MPC's object mpc_t in class A, but I can't initialize mpc_t in A's constructor function.
How could I fix that problem?

[2022-03-08 16:03] condor-cp commented on #210
I would guess the problem here is the lack of a default constructor of the MPC class.

What you can do to fix that is for example have a shared_ptr<MPC> as your member class and dynamically define it in the constructor.
Another option can be to call the MPC constructor in the initializer list as suggested in https://stackoverflow.com/questions/12328150/class-member-without-a-default-constructor

[2022-03-09 01:52] C1009919253 commented on #210
Thanks for your help, I tested the first way, and it worked!

[2022-03-09 01:55] #210 closed, assigned to nobody

[2022-03-09 02:34] bagavi opened #211 "Can this be used for a differential drive wheeled robot?"
Context: I am working on a wheeled robot which can "intelligently" move around your home (think of robotic vacuums) by
1. Perception: Getting a 3d map of the home
2. Planning: Go from A (say kitchen) to B (say bedroom) using the above map.

Two question
1. All the examples in the codebase were on "more complicated" robots. I would assume this codebase should be able to support my wheeled robot. Bu

[2022-04-12 08:29] soldierofhell opened #212 "DynamicRiccatiEquation - reference for implementation"
Hi, could you please provide the reference to the "robust" method of DARE solver ([DynamicRiccatiEquation::iterateRobust()](https://github.com/ethz-adrl/control-toolbox/blob/7d36e42ff665c9f4b6c5f3e4ddce04a0ab41628a/ct_optcon/include/ct/optcon/lqr/riccati/DynamicRiccatiEquation.hpp#L69-L109))
In the one of the comments it's stated:
`// make D positive semi-definite (as described in IV. B.)`

Thanks

[2022-04-14 05:32] haasithp commented on #205
Actually, the executables were commented in <workspace>/src/control-toolbox/ct_optcon/examples/CMakeLists.txt. So, uncomment them and try building again. That will work.

[2022-04-20 15:32] Kc352 opened #213 "Ccc"
https://github.com/abseil/abseil-cpp/blob/master/ci/linux_clang-latest_libcxx_tsan_bazel.sh/release

[2022-05-17 11:47] yuguanfeng commented on #205
It works! Thanks!

[2022-06-14 11:34] lakmusluk opened #214 "Activation function time does not move according to MPC progress"
Hi there,

I'm using your control toolbox for a MPC and struggle with using the activation functions.

I couldn't find any detailed information on them but figured out how to load them from a config file and add them to my intermediate cost term. As I want to perform a single jump at a fixed time, similar to [HyQ](https://github.com/ethz-adrl/ct_ros/blob/33821ffcbff563ca16321d8386a15e34b69bbc92/ct

[2022-06-16 10:10] lakmusluk commented on #214
I figured out the solution by myself and want to share it here such that others can benefit from it too.

By design, the activation doesn't get shifted in time by any internal function and is only associated with its respective CostTerm.
Thus, if you want to shift the activation, you have to shift the entire cost function.

Within my mpcLoop I do the following:

[code]

As this solved my issue, I

[2022-06-16 10:10] #214 closed, assigned to nobody

[2022-06-19 18:43] dd292 opened #215 "Installation error with blasfeo"
Hey,

I am just trying to run this library in Ubuntu 20.04 but getting the error:
`In file included from /usr/local/include/ct/optcon/nloc/NLOCBackendBase.hpp:16,
                 from /usr/local/include/ct/optcon/optcon.h:25,
                 from /home/airlab/Documents/Projects/Cppilqr/src/control-toolbox/ct_models/src/HyQ/codegen/HyQLinearizationCodegen.cpp:6:
/usr/local/include/ct/optcon/solve

[2022-06-28 12:51] condor-cp commented on #215
I had the same issue that you have but somehow the repo owner could not reproduce. Try to modify CMakeLists.txt files as I did with [this commit](https://github.com/condor-cp/control-toolbox/commit/d677bcb935d605290775e78973c42df1268a0406)

Regards

[2022-06-30 19:57] haasithp commented on #215
Hey, I was able to install and made these notes. Please go through it and let me know if there are any issues.
https://haasith.notion.site/Control-Toolbox-ec4e170501914120b4b666e89353d35c

[2022-07-07 08:01] PaulOxxx1 commented on #211
1. It is able to do that. You can define a `ControlledSystem` using the motion equations for a differential drive robot, and then use e.g. the `MPC` class to plan paths. The map could be used to define distance constraints to detected walls and obstacles, so that the bot does not run into this. I have used this in a project before, but only for the "short-term" planning, so only in like a 10x10m a

[2022-07-16 01:57] #213 closed, assigned to nobody

[2022-07-22 12:02] Wow-zheng commented on #204
Did you solve the problem, thanks for your reply

[2022-07-22 12:47] Wow-zheng commented on #204
After testing, the solution is as follows:
Ubuntu18.04
Python3.69
matplotlib3.0.2

[2022-09-23 14:39] manuel1801 opened #216 "changeInitialState in Dms does not work"
It seems that some functions of the DmsSolver class don't work or at leas not how I expect it.
For example the function **changeInitialState()** which I wanna use to update the problem in order to use it in MPC fashon.
If I solve an Optimal Control Problem with the DmsSolver as described in the Tutorial: [Classical, Constrained Direct Multiple Shooting for a Damped Oscillator](https://ethz-adrl.gi

[2022-11-07 11:18] zhangbaozhe commented on #203
You may try to modify the case insensitivity on Windows. Check this [link](https://learn.microsoft.com/en-us/windows/wsl/case-sensitivity). @MartinKoch123

[2022-11-07 19:57] MartinKoch123 commented on #203
Thanks for the suggestion but the issue is no longer relevant for me. Feel free to close.

[2022-11-09 23:13] connorjak commented on #203
Seems this in particular is a different issue with filenames: https://web.synametrics.com/syncrify-xtra-spaces.htm

`'.gitkeep '` has an extra space at the end. Might be an easy for fix for this error in particular.